.svg-ic_add_to_queue_24px {
	background: url(svg-sprite-av.svg) 12.5% 0 no-repeat;
}

.svg-ic_add_to_queue_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_airplay_24px {
	background: url(svg-sprite-av.svg) 75% 50% no-repeat;
}

.svg-ic_airplay_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_album_24px {
	background: url(svg-sprite-av.svg) 0 12.5% no-repeat;
}

.svg-ic_album_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_art_track_24px {
	background: url(svg-sprite-av.svg) 12.5% 12.5% no-repeat;
}

.svg-ic_art_track_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_av_timer_24px {
	background: url(svg-sprite-av.svg) 25% 0 no-repeat;
}

.svg-ic_av_timer_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_branding_watermark_24px {
	background: url(svg-sprite-av.svg) 25% 12.5% no-repeat;
}

.svg-ic_branding_watermark_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_call_to_action_24px {
	background: url(svg-sprite-av.svg) 0 25% no-repeat;
}

.svg-ic_call_to_action_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_closed_caption_24px {
	background: url(svg-sprite-av.svg) 12.5% 25% no-repeat;
}

.svg-ic_closed_caption_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_equalizer_24px {
	background: url(svg-sprite-av.svg) 25% 25% no-repeat;
}

.svg-ic_equalizer_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_explicit_24px {
	background: url(svg-sprite-av.svg) 37.5% 0 no-repeat;
}

.svg-ic_explicit_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fast_forward_24px {
	background: url(svg-sprite-av.svg) 37.5% 12.5% no-repeat;
}

.svg-ic_fast_forward_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fast_rewind_24px {
	background: url(svg-sprite-av.svg) 37.5% 25% no-repeat;
}

.svg-ic_fast_rewind_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_featured_play_list_24px {
	background: url(svg-sprite-av.svg) 0 37.5% no-repeat;
}

.svg-ic_featured_play_list_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_featured_video_24px {
	background: url(svg-sprite-av.svg) 12.5% 37.5% no-repeat;
}

.svg-ic_featured_video_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fiber_dvr_24px {
	background: url(svg-sprite-av.svg) 25% 37.5% no-repeat;
}

.svg-ic_fiber_dvr_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fiber_manual_record_24px {
	background: url(svg-sprite-av.svg) 37.5% 37.5% no-repeat;
}

.svg-ic_fiber_manual_record_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fiber_new_24px {
	background: url(svg-sprite-av.svg) 50% 0 no-repeat;
}

.svg-ic_fiber_new_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fiber_pin_24px {
	background: url(svg-sprite-av.svg) 50% 12.5% no-repeat;
}

.svg-ic_fiber_pin_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fiber_smart_record_24px {
	background: url(svg-sprite-av.svg) 50% 25% no-repeat;
}

.svg-ic_fiber_smart_record_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_forward_10_24px {
	background: url(svg-sprite-av.svg) 50% 37.5% no-repeat;
}

.svg-ic_forward_10_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_forward_30_24px {
	background: url(svg-sprite-av.svg) 0 50% no-repeat;
}

.svg-ic_forward_30_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_forward_5_24px {
	background: url(svg-sprite-av.svg) 12.5% 50% no-repeat;
}

.svg-ic_forward_5_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_games_24px {
	background: url(svg-sprite-av.svg) 25% 50% no-repeat;
}

.svg-ic_games_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_hd_24px {
	background: url(svg-sprite-av.svg) 37.5% 50% no-repeat;
}

.svg-ic_hd_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_hearing_24px {
	background: url(svg-sprite-av.svg) 50% 50% no-repeat;
}

.svg-ic_hearing_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_high_quality_24px {
	background: url(svg-sprite-av.svg) 62.5% 0 no-repeat;
}

.svg-ic_high_quality_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_library_add_24px {
	background: url(svg-sprite-av.svg) 62.5% 12.5% no-repeat;
}

.svg-ic_library_add_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_library_books_24px {
	background: url(svg-sprite-av.svg) 62.5% 25% no-repeat;
}

.svg-ic_library_books_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_library_music_24px {
	background: url(svg-sprite-av.svg) 62.5% 37.5% no-repeat;
}

.svg-ic_library_music_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_loop_24px {
	background: url(svg-sprite-av.svg) 62.5% 50% no-repeat;
}

.svg-ic_loop_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mic_24px {
	background: url(svg-sprite-av.svg) 0 62.5% no-repeat;
}

.svg-ic_mic_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mic_none_24px {
	background: url(svg-sprite-av.svg) 12.5% 62.5% no-repeat;
}

.svg-ic_mic_none_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mic_off_24px {
	background: url(svg-sprite-av.svg) 25% 62.5% no-repeat;
}

.svg-ic_mic_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_movie_24px {
	background: url(svg-sprite-av.svg) 37.5% 62.5% no-repeat;
}

.svg-ic_movie_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_music_video_24px {
	background: url(svg-sprite-av.svg) 50% 62.5% no-repeat;
}

.svg-ic_music_video_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_new_releases_24px {
	background: url(svg-sprite-av.svg) 62.5% 62.5% no-repeat;
}

.svg-ic_new_releases_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_not_interested_24px {
	background: url(svg-sprite-av.svg) 75% 0 no-repeat;
}

.svg-ic_not_interested_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_note_24px {
	background: url(svg-sprite-av.svg) 75% 12.5% no-repeat;
}

.svg-ic_note_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pause_24px {
	background: url(svg-sprite-av.svg) 75% 25% no-repeat;
}

.svg-ic_pause_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pause_circle_filled_24px {
	background: url(svg-sprite-av.svg) 75% 37.5% no-repeat;
}

.svg-ic_pause_circle_filled_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pause_circle_outline_24px {
	background: url(svg-sprite-av.svg) 0 0 no-repeat;
}

.svg-ic_pause_circle_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_play_arrow_24px {
	background: url(svg-sprite-av.svg) 75% 62.5% no-repeat;
}

.svg-ic_play_arrow_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_play_circle_filled_24px {
	background: url(svg-sprite-av.svg) 0 75% no-repeat;
}

.svg-ic_play_circle_filled_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_play_circle_outline_24px {
	background: url(svg-sprite-av.svg) 12.5% 75% no-repeat;
}

.svg-ic_play_circle_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_playlist_add_24px {
	background: url(svg-sprite-av.svg) 25% 75% no-repeat;
}

.svg-ic_playlist_add_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_playlist_add_check_24px {
	background: url(svg-sprite-av.svg) 37.5% 75% no-repeat;
}

.svg-ic_playlist_add_check_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_playlist_play_24px {
	background: url(svg-sprite-av.svg) 50% 75% no-repeat;
}

.svg-ic_playlist_play_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_queue_24px {
	background: url(svg-sprite-av.svg) 62.5% 75% no-repeat;
}

.svg-ic_queue_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_queue_music_24px {
	background: url(svg-sprite-av.svg) 75% 75% no-repeat;
}

.svg-ic_queue_music_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_queue_play_next_24px {
	background: url(svg-sprite-av.svg) 87.5% 0 no-repeat;
}

.svg-ic_queue_play_next_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_radio_24px {
	background: url(svg-sprite-av.svg) 87.5% 12.5% no-repeat;
}

.svg-ic_radio_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_recent_actors_24px {
	background: url(svg-sprite-av.svg) 87.5% 25% no-repeat;
}

.svg-ic_recent_actors_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_remove_from_queue_24px {
	background: url(svg-sprite-av.svg) 87.5% 37.5% no-repeat;
}

.svg-ic_remove_from_queue_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_repeat_24px {
	background: url(svg-sprite-av.svg) 87.5% 50% no-repeat;
}

.svg-ic_repeat_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_repeat_one_24px {
	background: url(svg-sprite-av.svg) 87.5% 62.5% no-repeat;
}

.svg-ic_repeat_one_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_replay_10_24px {
	background: url(svg-sprite-av.svg) 87.5% 75% no-repeat;
}

.svg-ic_replay_10_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_replay_24px {
	background: url(svg-sprite-av.svg) 0 87.5% no-repeat;
}

.svg-ic_replay_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_replay_30_24px {
	background: url(svg-sprite-av.svg) 12.5% 87.5% no-repeat;
}

.svg-ic_replay_30_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_replay_5_24px {
	background: url(svg-sprite-av.svg) 25% 87.5% no-repeat;
}

.svg-ic_replay_5_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_shuffle_24px {
	background: url(svg-sprite-av.svg) 37.5% 87.5% no-repeat;
}

.svg-ic_shuffle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_skip_next_24px {
	background: url(svg-sprite-av.svg) 50% 87.5% no-repeat;
}

.svg-ic_skip_next_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_skip_previous_24px {
	background: url(svg-sprite-av.svg) 62.5% 87.5% no-repeat;
}

.svg-ic_skip_previous_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_slow_motion_video_24px {
	background: url(svg-sprite-av.svg) 75% 87.5% no-repeat;
}

.svg-ic_slow_motion_video_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_snooze_24px {
	background: url(svg-sprite-av.svg) 87.5% 87.5% no-repeat;
}

.svg-ic_snooze_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sort_by_alpha_24px {
	background: url(svg-sprite-av.svg) 100% 0 no-repeat;
}

.svg-ic_sort_by_alpha_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_stop_24px {
	background: url(svg-sprite-av.svg) 100% 12.5% no-repeat;
}

.svg-ic_stop_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_subscriptions_24px {
	background: url(svg-sprite-av.svg) 100% 25% no-repeat;
}

.svg-ic_subscriptions_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_subtitles_24px {
	background: url(svg-sprite-av.svg) 100% 37.5% no-repeat;
}

.svg-ic_subtitles_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_surround_sound_24px {
	background: url(svg-sprite-av.svg) 100% 50% no-repeat;
}

.svg-ic_surround_sound_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_video_call_24px {
	background: url(svg-sprite-av.svg) 100% 62.5% no-repeat;
}

.svg-ic_video_call_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_video_label_24px {
	background: url(svg-sprite-av.svg) 100% 75% no-repeat;
}

.svg-ic_video_label_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_video_library_24px {
	background: url(svg-sprite-av.svg) 100% 87.5% no-repeat;
}

.svg-ic_video_library_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_videocam_24px {
	background: url(svg-sprite-av.svg) 0 100% no-repeat;
}

.svg-ic_videocam_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_videocam_off_24px {
	background: url(svg-sprite-av.svg) 12.5% 100% no-repeat;
}

.svg-ic_videocam_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_volume_down_24px {
	background: url(svg-sprite-av.svg) 25% 100% no-repeat;
}

.svg-ic_volume_down_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_volume_mute_24px {
	background: url(svg-sprite-av.svg) 37.5% 100% no-repeat;
}

.svg-ic_volume_mute_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_volume_off_24px {
	background: url(svg-sprite-av.svg) 50% 100% no-repeat;
}

.svg-ic_volume_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_volume_up_24px {
	background: url(svg-sprite-av.svg) 62.5% 100% no-repeat;
}

.svg-ic_volume_up_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_web_24px {
	background: url(svg-sprite-av.svg) 75% 100% no-repeat;
}

.svg-ic_web_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_web_asset_24px {
	background: url(svg-sprite-av.svg) 87.5% 100% no-repeat;
}

.svg-ic_web_asset_24px-dims {
	width: 24px;
	height: 24px;
}

