.svg-ic_3d_rotation_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 0 no-repeat;
}

.svg-ic_3d_rotation_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_accessibility_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 50% no-repeat;
}

.svg-ic_accessibility_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_accessible_24px {
	background: url(svg-sprite-action.svg) 0 7.142857142857143% no-repeat;
}

.svg-ic_accessible_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_account_balance_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 7.142857142857143% no-repeat;
}

.svg-ic_account_balance_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_account_balance_wallet_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 0 no-repeat;
}

.svg-ic_account_balance_wallet_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_account_box_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 7.142857142857143% no-repeat;
}

.svg-ic_account_box_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_account_circle_24px {
	background: url(svg-sprite-action.svg) 0 14.285714285714286% no-repeat;
}

.svg-ic_account_circle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_add_shopping_cart_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 14.285714285714286% no-repeat;
}

.svg-ic_add_shopping_cart_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_alarm_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 14.285714285714286% no-repeat;
}

.svg-ic_alarm_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_alarm_add_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 0 no-repeat;
}

.svg-ic_alarm_add_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_alarm_off_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 7.142857142857143% no-repeat;
}

.svg-ic_alarm_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_alarm_on_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 14.285714285714286% no-repeat;
}

.svg-ic_alarm_on_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_all_out_24px {
	background: url(svg-sprite-action.svg) 0 21.428571428571427% no-repeat;
}

.svg-ic_all_out_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_android_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 21.428571428571427% no-repeat;
}

.svg-ic_android_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_announcement_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 21.428571428571427% no-repeat;
}

.svg-ic_announcement_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_aspect_ratio_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 21.428571428571427% no-repeat;
}

.svg-ic_aspect_ratio_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_assessment_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 0 no-repeat;
}

.svg-ic_assessment_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_assignment_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 7.142857142857143% no-repeat;
}

.svg-ic_assignment_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_assignment_ind_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 14.285714285714286% no-repeat;
}

.svg-ic_assignment_ind_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_assignment_late_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 21.428571428571427% no-repeat;
}

.svg-ic_assignment_late_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_assignment_return_24px {
	background: url(svg-sprite-action.svg) 0 28.571428571428573% no-repeat;
}

.svg-ic_assignment_return_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_assignment_returned_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 28.571428571428573% no-repeat;
}

.svg-ic_assignment_returned_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_assignment_turned_in_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 28.571428571428573% no-repeat;
}

.svg-ic_assignment_turned_in_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_autorenew_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 28.571428571428573% no-repeat;
}

.svg-ic_autorenew_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_backup_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 28.571428571428573% no-repeat;
}

.svg-ic_backup_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_book_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 0 no-repeat;
}

.svg-ic_book_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_bookmark_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 7.142857142857143% no-repeat;
}

.svg-ic_bookmark_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_bookmark_border_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 14.285714285714286% no-repeat;
}

.svg-ic_bookmark_border_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_bug_report_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 21.428571428571427% no-repeat;
}

.svg-ic_bug_report_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_build_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 28.571428571428573% no-repeat;
}

.svg-ic_build_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_cached_24px {
	background: url(svg-sprite-action.svg) 0 35.714285714285715% no-repeat;
}

.svg-ic_cached_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_camera_enhance_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 35.714285714285715% no-repeat;
}

.svg-ic_camera_enhance_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_card_giftcard_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 35.714285714285715% no-repeat;
}

.svg-ic_card_giftcard_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_card_membership_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 35.714285714285715% no-repeat;
}

.svg-ic_card_membership_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_card_travel_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 35.714285714285715% no-repeat;
}

.svg-ic_card_travel_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_change_history_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 35.714285714285715% no-repeat;
}

.svg-ic_change_history_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_check_circle_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 0 no-repeat;
}

.svg-ic_check_circle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_chrome_reader_mode_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 7.142857142857143% no-repeat;
}

.svg-ic_chrome_reader_mode_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_class_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 14.285714285714286% no-repeat;
}

.svg-ic_class_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_code_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 21.428571428571427% no-repeat;
}

.svg-ic_code_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_compare_arrows_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 28.571428571428573% no-repeat;
}

.svg-ic_compare_arrows_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_copyright_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 35.714285714285715% no-repeat;
}

.svg-ic_copyright_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_credit_card_24px {
	background: url(svg-sprite-action.svg) 0 42.857142857142854% no-repeat;
}

.svg-ic_credit_card_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_dashboard_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 42.857142857142854% no-repeat;
}

.svg-ic_dashboard_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_date_range_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 42.857142857142854% no-repeat;
}

.svg-ic_date_range_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_delete_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 42.857142857142854% no-repeat;
}

.svg-ic_delete_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_delete_forever_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 42.857142857142854% no-repeat;
}

.svg-ic_delete_forever_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_description_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 42.857142857142854% no-repeat;
}

.svg-ic_description_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_dns_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 42.857142857142854% no-repeat;
}

.svg-ic_dns_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_done_24px {
	background: url(svg-sprite-action.svg) 50% 0 no-repeat;
}

.svg-ic_done_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_done_all_24px {
	background: url(svg-sprite-action.svg) 50% 7.142857142857143% no-repeat;
}

.svg-ic_done_all_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_donut_large_24px {
	background: url(svg-sprite-action.svg) 50% 14.285714285714286% no-repeat;
}

.svg-ic_donut_large_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_donut_small_24px {
	background: url(svg-sprite-action.svg) 50% 21.428571428571427% no-repeat;
}

.svg-ic_donut_small_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_eject_24px {
	background: url(svg-sprite-action.svg) 50% 28.571428571428573% no-repeat;
}

.svg-ic_eject_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_euro_symbol_24px {
	background: url(svg-sprite-action.svg) 50% 35.714285714285715% no-repeat;
}

.svg-ic_euro_symbol_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_event_24px {
	background: url(svg-sprite-action.svg) 50% 42.857142857142854% no-repeat;
}

.svg-ic_event_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_event_seat_24px {
	background: url(svg-sprite-action.svg) 0 50% no-repeat;
}

.svg-ic_event_seat_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_exit_to_app_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 50% no-repeat;
}

.svg-ic_exit_to_app_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_explore_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 50% no-repeat;
}

.svg-ic_explore_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_extension_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 50% no-repeat;
}

.svg-ic_extension_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_face_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 50% no-repeat;
}

.svg-ic_face_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_favorite_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 50% no-repeat;
}

.svg-ic_favorite_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_favorite_border_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 50% no-repeat;
}

.svg-ic_favorite_border_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_feedback_24px {
	background: url(svg-sprite-action.svg) 50% 50% no-repeat;
}

.svg-ic_feedback_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_find_in_page_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 0 no-repeat;
}

.svg-ic_find_in_page_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_find_replace_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 7.142857142857143% no-repeat;
}

.svg-ic_find_replace_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fingerprint_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 14.285714285714286% no-repeat;
}

.svg-ic_fingerprint_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flight_land_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 21.428571428571427% no-repeat;
}

.svg-ic_flight_land_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flight_takeoff_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 28.571428571428573% no-repeat;
}

.svg-ic_flight_takeoff_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flip_to_back_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 35.714285714285715% no-repeat;
}

.svg-ic_flip_to_back_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flip_to_front_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 42.857142857142854% no-repeat;
}

.svg-ic_flip_to_front_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_g_translate_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 50% no-repeat;
}

.svg-ic_g_translate_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_gavel_24px {
	background: url(svg-sprite-action.svg) 0 57.142857142857146% no-repeat;
}

.svg-ic_gavel_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_get_app_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 57.142857142857146% no-repeat;
}

.svg-ic_get_app_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_gif_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 57.142857142857146% no-repeat;
}

.svg-ic_gif_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_grade_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 57.142857142857146% no-repeat;
}

.svg-ic_grade_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_group_work_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 57.142857142857146% no-repeat;
}

.svg-ic_group_work_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_help_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 57.142857142857146% no-repeat;
}

.svg-ic_help_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_help_outline_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 57.142857142857146% no-repeat;
}

.svg-ic_help_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_highlight_off_24px {
	background: url(svg-sprite-action.svg) 50% 57.142857142857146% no-repeat;
}

.svg-ic_highlight_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_history_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 57.142857142857146% no-repeat;
}

.svg-ic_history_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_home_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 0 no-repeat;
}

.svg-ic_home_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_hourglass_empty_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 7.142857142857143% no-repeat;
}

.svg-ic_hourglass_empty_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_hourglass_full_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 14.285714285714286% no-repeat;
}

.svg-ic_hourglass_full_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_http_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 21.428571428571427% no-repeat;
}

.svg-ic_http_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_https_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 28.571428571428573% no-repeat;
}

.svg-ic_https_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_important_devices_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 35.714285714285715% no-repeat;
}

.svg-ic_important_devices_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_info_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 42.857142857142854% no-repeat;
}

.svg-ic_info_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_info_outline_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 50% no-repeat;
}

.svg-ic_info_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_input_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 57.142857142857146% no-repeat;
}

.svg-ic_input_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_invert_colors_24px {
	background: url(svg-sprite-action.svg) 0 64.28571428571429% no-repeat;
}

.svg-ic_invert_colors_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_label_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 64.28571428571429% no-repeat;
}

.svg-ic_label_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_label_outline_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 64.28571428571429% no-repeat;
}

.svg-ic_label_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_language_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 64.28571428571429% no-repeat;
}

.svg-ic_language_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_launch_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 64.28571428571429% no-repeat;
}

.svg-ic_launch_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_lightbulb_outline_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 64.28571428571429% no-repeat;
}

.svg-ic_lightbulb_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_line_style_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 64.28571428571429% no-repeat;
}

.svg-ic_line_style_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_line_weight_24px {
	background: url(svg-sprite-action.svg) 50% 64.28571428571429% no-repeat;
}

.svg-ic_line_weight_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_list_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 64.28571428571429% no-repeat;
}

.svg-ic_list_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_lock_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 64.28571428571429% no-repeat;
}

.svg-ic_lock_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_lock_open_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 0 no-repeat;
}

.svg-ic_lock_open_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_lock_outline_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 7.142857142857143% no-repeat;
}

.svg-ic_lock_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_loyalty_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 14.285714285714286% no-repeat;
}

.svg-ic_loyalty_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_markunread_mailbox_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 21.428571428571427% no-repeat;
}

.svg-ic_markunread_mailbox_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_motorcycle_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 28.571428571428573% no-repeat;
}

.svg-ic_motorcycle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_note_add_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 35.714285714285715% no-repeat;
}

.svg-ic_note_add_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_offline_pin_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 42.857142857142854% no-repeat;
}

.svg-ic_offline_pin_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_opacity_24px {
	background: url(svg-sprite-action.svg) 0 0 no-repeat;
}

.svg-ic_opacity_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_open_in_browser_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 57.142857142857146% no-repeat;
}

.svg-ic_open_in_browser_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_open_in_new_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 64.28571428571429% no-repeat;
}

.svg-ic_open_in_new_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_open_with_24px {
	background: url(svg-sprite-action.svg) 0 71.42857142857143% no-repeat;
}

.svg-ic_open_with_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pageview_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 71.42857142857143% no-repeat;
}

.svg-ic_pageview_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pan_tool_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 71.42857142857143% no-repeat;
}

.svg-ic_pan_tool_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_payment_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 71.42857142857143% no-repeat;
}

.svg-ic_payment_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_perm_camera_mic_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 71.42857142857143% no-repeat;
}

.svg-ic_perm_camera_mic_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_perm_contact_calendar_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 71.42857142857143% no-repeat;
}

.svg-ic_perm_contact_calendar_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_perm_data_setting_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 71.42857142857143% no-repeat;
}

.svg-ic_perm_data_setting_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_perm_device_information_24px {
	background: url(svg-sprite-action.svg) 50% 71.42857142857143% no-repeat;
}

.svg-ic_perm_device_information_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_perm_identity_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 71.42857142857143% no-repeat;
}

.svg-ic_perm_identity_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_perm_media_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 71.42857142857143% no-repeat;
}

.svg-ic_perm_media_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_perm_phone_msg_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 71.42857142857143% no-repeat;
}

.svg-ic_perm_phone_msg_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_perm_scan_wifi_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 0 no-repeat;
}

.svg-ic_perm_scan_wifi_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pets_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 7.142857142857143% no-repeat;
}

.svg-ic_pets_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_picture_in_picture_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 14.285714285714286% no-repeat;
}

.svg-ic_picture_in_picture_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_picture_in_picture_alt_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 21.428571428571427% no-repeat;
}

.svg-ic_picture_in_picture_alt_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_play_for_work_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 28.571428571428573% no-repeat;
}

.svg-ic_play_for_work_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_polymer_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 35.714285714285715% no-repeat;
}

.svg-ic_polymer_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_power_settings_new_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 42.857142857142854% no-repeat;
}

.svg-ic_power_settings_new_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pregnant_woman_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 50% no-repeat;
}

.svg-ic_pregnant_woman_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_print_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 57.142857142857146% no-repeat;
}

.svg-ic_print_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_query_builder_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 64.28571428571429% no-repeat;
}

.svg-ic_query_builder_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_question_answer_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 71.42857142857143% no-repeat;
}

.svg-ic_question_answer_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_receipt_24px {
	background: url(svg-sprite-action.svg) 0 78.57142857142857% no-repeat;
}

.svg-ic_receipt_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_record_voice_over_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 78.57142857142857% no-repeat;
}

.svg-ic_record_voice_over_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_redeem_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 78.57142857142857% no-repeat;
}

.svg-ic_redeem_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_remove_shopping_cart_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 78.57142857142857% no-repeat;
}

.svg-ic_remove_shopping_cart_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_reorder_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 78.57142857142857% no-repeat;
}

.svg-ic_reorder_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_report_problem_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 78.57142857142857% no-repeat;
}

.svg-ic_report_problem_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_restore_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 78.57142857142857% no-repeat;
}

.svg-ic_restore_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_restore_page_24px {
	background: url(svg-sprite-action.svg) 50% 78.57142857142857% no-repeat;
}

.svg-ic_restore_page_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_room_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 78.57142857142857% no-repeat;
}

.svg-ic_room_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_rounded_corner_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 78.57142857142857% no-repeat;
}

.svg-ic_rounded_corner_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_rowing_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 78.57142857142857% no-repeat;
}

.svg-ic_rowing_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_schedule_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 78.57142857142857% no-repeat;
}

.svg-ic_schedule_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_search_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 0 no-repeat;
}

.svg-ic_search_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 7.142857142857143% no-repeat;
}

.svg-ic_settings_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_applications_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 14.285714285714286% no-repeat;
}

.svg-ic_settings_applications_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_backup_restore_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 21.428571428571427% no-repeat;
}

.svg-ic_settings_backup_restore_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_bluetooth_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 28.571428571428573% no-repeat;
}

.svg-ic_settings_bluetooth_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_brightness_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 35.714285714285715% no-repeat;
}

.svg-ic_settings_brightness_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_cell_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 42.857142857142854% no-repeat;
}

.svg-ic_settings_cell_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_ethernet_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 50% no-repeat;
}

.svg-ic_settings_ethernet_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_input_antenna_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 57.142857142857146% no-repeat;
}

.svg-ic_settings_input_antenna_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_input_component_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 64.28571428571429% no-repeat;
}

.svg-ic_settings_input_component_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_input_composite_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 71.42857142857143% no-repeat;
}

.svg-ic_settings_input_composite_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_input_hdmi_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 78.57142857142857% no-repeat;
}

.svg-ic_settings_input_hdmi_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_input_svideo_24px {
	background: url(svg-sprite-action.svg) 0 85.71428571428571% no-repeat;
}

.svg-ic_settings_input_svideo_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_overscan_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 85.71428571428571% no-repeat;
}

.svg-ic_settings_overscan_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_phone_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 85.71428571428571% no-repeat;
}

.svg-ic_settings_phone_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_power_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 85.71428571428571% no-repeat;
}

.svg-ic_settings_power_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_remote_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 85.71428571428571% no-repeat;
}

.svg-ic_settings_remote_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_settings_voice_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 85.71428571428571% no-repeat;
}

.svg-ic_settings_voice_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_shop_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 85.71428571428571% no-repeat;
}

.svg-ic_shop_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_shop_two_24px {
	background: url(svg-sprite-action.svg) 50% 85.71428571428571% no-repeat;
}

.svg-ic_shop_two_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_shopping_basket_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 85.71428571428571% no-repeat;
}

.svg-ic_shopping_basket_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_shopping_cart_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 85.71428571428571% no-repeat;
}

.svg-ic_shopping_cart_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_speaker_notes_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 85.71428571428571% no-repeat;
}

.svg-ic_speaker_notes_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_speaker_notes_off_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 85.71428571428571% no-repeat;
}

.svg-ic_speaker_notes_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_spellcheck_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 85.71428571428571% no-repeat;
}

.svg-ic_spellcheck_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_stars_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 0 no-repeat;
}

.svg-ic_stars_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_store_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 7.142857142857143% no-repeat;
}

.svg-ic_store_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_subject_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 14.285714285714286% no-repeat;
}

.svg-ic_subject_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_supervisor_account_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 21.428571428571427% no-repeat;
}

.svg-ic_supervisor_account_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_swap_horiz_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 28.571428571428573% no-repeat;
}

.svg-ic_swap_horiz_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_swap_vert_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 35.714285714285715% no-repeat;
}

.svg-ic_swap_vert_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_swap_vertical_circle_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 42.857142857142854% no-repeat;
}

.svg-ic_swap_vertical_circle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_system_update_alt_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 50% no-repeat;
}

.svg-ic_system_update_alt_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tab_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 57.142857142857146% no-repeat;
}

.svg-ic_tab_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tab_unselected_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 64.28571428571429% no-repeat;
}

.svg-ic_tab_unselected_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_theaters_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 71.42857142857143% no-repeat;
}

.svg-ic_theaters_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_thumb_down_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 78.57142857142857% no-repeat;
}

.svg-ic_thumb_down_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_thumb_up_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 85.71428571428571% no-repeat;
}

.svg-ic_thumb_up_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_thumbs_up_down_24px {
	background: url(svg-sprite-action.svg) 0 92.85714285714286% no-repeat;
}

.svg-ic_thumbs_up_down_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_timeline_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 92.85714285714286% no-repeat;
}

.svg-ic_timeline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_toc_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 92.85714285714286% no-repeat;
}

.svg-ic_toc_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_today_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 92.85714285714286% no-repeat;
}

.svg-ic_today_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_toll_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 92.85714285714286% no-repeat;
}

.svg-ic_toll_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_touch_app_24px {
	background: url(svg-sprite-action.svg) 35.714285714285715% 92.85714285714286% no-repeat;
}

.svg-ic_touch_app_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_track_changes_24px {
	background: url(svg-sprite-action.svg) 42.857142857142854% 92.85714285714286% no-repeat;
}

.svg-ic_track_changes_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_translate_24px {
	background: url(svg-sprite-action.svg) 50% 92.85714285714286% no-repeat;
}

.svg-ic_translate_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_trending_down_24px {
	background: url(svg-sprite-action.svg) 57.142857142857146% 92.85714285714286% no-repeat;
}

.svg-ic_trending_down_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_trending_flat_24px {
	background: url(svg-sprite-action.svg) 64.28571428571429% 92.85714285714286% no-repeat;
}

.svg-ic_trending_flat_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_trending_up_24px {
	background: url(svg-sprite-action.svg) 71.42857142857143% 92.85714285714286% no-repeat;
}

.svg-ic_trending_up_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_turned_in_24px {
	background: url(svg-sprite-action.svg) 78.57142857142857% 92.85714285714286% no-repeat;
}

.svg-ic_turned_in_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_turned_in_not_24px {
	background: url(svg-sprite-action.svg) 85.71428571428571% 92.85714285714286% no-repeat;
}

.svg-ic_turned_in_not_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_update_24px {
	background: url(svg-sprite-action.svg) 92.85714285714286% 92.85714285714286% no-repeat;
}

.svg-ic_update_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_verified_user_24px {
	background: url(svg-sprite-action.svg) 100% 0 no-repeat;
}

.svg-ic_verified_user_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_agenda_24px {
	background: url(svg-sprite-action.svg) 100% 7.142857142857143% no-repeat;
}

.svg-ic_view_agenda_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_array_24px {
	background: url(svg-sprite-action.svg) 100% 14.285714285714286% no-repeat;
}

.svg-ic_view_array_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_carousel_24px {
	background: url(svg-sprite-action.svg) 100% 21.428571428571427% no-repeat;
}

.svg-ic_view_carousel_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_column_24px {
	background: url(svg-sprite-action.svg) 100% 28.571428571428573% no-repeat;
}

.svg-ic_view_column_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_day_24px {
	background: url(svg-sprite-action.svg) 100% 35.714285714285715% no-repeat;
}

.svg-ic_view_day_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_headline_24px {
	background: url(svg-sprite-action.svg) 100% 42.857142857142854% no-repeat;
}

.svg-ic_view_headline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_list_24px {
	background: url(svg-sprite-action.svg) 100% 50% no-repeat;
}

.svg-ic_view_list_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_module_24px {
	background: url(svg-sprite-action.svg) 100% 57.142857142857146% no-repeat;
}

.svg-ic_view_module_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_quilt_24px {
	background: url(svg-sprite-action.svg) 100% 64.28571428571429% no-repeat;
}

.svg-ic_view_quilt_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_stream_24px {
	background: url(svg-sprite-action.svg) 100% 71.42857142857143% no-repeat;
}

.svg-ic_view_stream_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_week_24px {
	background: url(svg-sprite-action.svg) 100% 78.57142857142857% no-repeat;
}

.svg-ic_view_week_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_visibility_24px {
	background: url(svg-sprite-action.svg) 100% 85.71428571428571% no-repeat;
}

.svg-ic_visibility_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_visibility_off_24px {
	background: url(svg-sprite-action.svg) 100% 92.85714285714286% no-repeat;
}

.svg-ic_visibility_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_watch_later_24px {
	background: url(svg-sprite-action.svg) 0 100% no-repeat;
}

.svg-ic_watch_later_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_work_24px {
	background: url(svg-sprite-action.svg) 7.142857142857143% 100% no-repeat;
}

.svg-ic_work_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_youtube_searched_for_24px {
	background: url(svg-sprite-action.svg) 14.285714285714286% 100% no-repeat;
}

.svg-ic_youtube_searched_for_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_zoom_in_24px {
	background: url(svg-sprite-action.svg) 21.428571428571427% 100% no-repeat;
}

.svg-ic_zoom_in_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_zoom_out_24px {
	background: url(svg-sprite-action.svg) 28.571428571428573% 100% no-repeat;
}

.svg-ic_zoom_out_24px-dims {
	width: 24px;
	height: 24px;
}

