.svg-ic_apps_24px {
	background: url(svg-sprite-navigation.svg) 20% 0 no-repeat;
}

.svg-ic_apps_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_arrow_back_24px {
	background: url(svg-sprite-navigation.svg) 20% 75% no-repeat;
}

.svg-ic_arrow_back_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_arrow_downward_24px {
	background: url(svg-sprite-navigation.svg) 0 25% no-repeat;
}

.svg-ic_arrow_downward_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_arrow_drop_down_24px {
	background: url(svg-sprite-navigation.svg) 20% 25% no-repeat;
}

.svg-ic_arrow_drop_down_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_arrow_drop_down_circle_24px {
	background: url(svg-sprite-navigation.svg) 40% 0 no-repeat;
}

.svg-ic_arrow_drop_down_circle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_arrow_drop_up_24px {
	background: url(svg-sprite-navigation.svg) 40% 25% no-repeat;
}

.svg-ic_arrow_drop_up_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_arrow_forward_24px {
	background: url(svg-sprite-navigation.svg) 0 50% no-repeat;
}

.svg-ic_arrow_forward_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_arrow_upward_24px {
	background: url(svg-sprite-navigation.svg) 20% 50% no-repeat;
}

.svg-ic_arrow_upward_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_cancel_24px {
	background: url(svg-sprite-navigation.svg) 40% 50% no-repeat;
}

.svg-ic_cancel_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_check_24px {
	background: url(svg-sprite-navigation.svg) 60% 0 no-repeat;
}

.svg-ic_check_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_chevron_left_24px {
	background: url(svg-sprite-navigation.svg) 60% 25% no-repeat;
}

.svg-ic_chevron_left_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_chevron_right_24px {
	background: url(svg-sprite-navigation.svg) 60% 50% no-repeat;
}

.svg-ic_chevron_right_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_close_24px {
	background: url(svg-sprite-navigation.svg) 0 75% no-repeat;
}

.svg-ic_close_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_expand_less_24px {
	background: url(svg-sprite-navigation.svg) 0 0 no-repeat;
}

.svg-ic_expand_less_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_expand_more_24px {
	background: url(svg-sprite-navigation.svg) 40% 75% no-repeat;
}

.svg-ic_expand_more_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_first_page_24px {
	background: url(svg-sprite-navigation.svg) 60% 75% no-repeat;
}

.svg-ic_first_page_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fullscreen_24px {
	background: url(svg-sprite-navigation.svg) 80% 0 no-repeat;
}

.svg-ic_fullscreen_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fullscreen_exit_24px {
	background: url(svg-sprite-navigation.svg) 80% 25% no-repeat;
}

.svg-ic_fullscreen_exit_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_last_page_24px {
	background: url(svg-sprite-navigation.svg) 80% 50% no-repeat;
}

.svg-ic_last_page_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_menu_24px {
	background: url(svg-sprite-navigation.svg) 80% 75% no-repeat;
}

.svg-ic_menu_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_more_horiz_24px {
	background: url(svg-sprite-navigation.svg) 0 100% no-repeat;
}

.svg-ic_more_horiz_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_more_vert_24px {
	background: url(svg-sprite-navigation.svg) 20% 100% no-repeat;
}

.svg-ic_more_vert_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_refresh_24px {
	background: url(svg-sprite-navigation.svg) 40% 100% no-repeat;
}

.svg-ic_refresh_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_subdirectory_arrow_left_24px {
	background: url(svg-sprite-navigation.svg) 60% 100% no-repeat;
}

.svg-ic_subdirectory_arrow_left_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_subdirectory_arrow_right_24px {
	background: url(svg-sprite-navigation.svg) 80% 100% no-repeat;
}

.svg-ic_subdirectory_arrow_right_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_unfold_less_24px {
	background: url(svg-sprite-navigation.svg) 100% 0 no-repeat;
}

.svg-ic_unfold_less_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_unfold_more_24px {
	background: url(svg-sprite-navigation.svg) 100% 25% no-repeat;
}

.svg-ic_unfold_more_24px-dims {
	width: 24px;
	height: 24px;
}

