.svg-ic_check_box_24px {
	background: url(svg-sprite-toggle.svg) 0 0 no-repeat;
}

.svg-ic_check_box_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_check_box_outline_blank_24px {
	background: url(svg-sprite-toggle.svg) 50% 0 no-repeat;
}

.svg-ic_check_box_outline_blank_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_indeterminate_check_box_24px {
	background: url(svg-sprite-toggle.svg) 0 50% no-repeat;
}

.svg-ic_indeterminate_check_box_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_radio_button_checked_24px {
	background: url(svg-sprite-toggle.svg) 50% 50% no-repeat;
}

.svg-ic_radio_button_checked_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_radio_button_unchecked_24px {
	background: url(svg-sprite-toggle.svg) 100% 0 no-repeat;
}

.svg-ic_radio_button_unchecked_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_star_24px {
	background: url(svg-sprite-toggle.svg) 100% 50% no-repeat;
}

.svg-ic_star_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_star_border_24px {
	background: url(svg-sprite-toggle.svg) 0 100% no-repeat;
}

.svg-ic_star_border_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_star_half_24px {
	background: url(svg-sprite-toggle.svg) 50% 100% no-repeat;
}

.svg-ic_star_half_24px-dims {
	width: 24px;
	height: 24px;
}

