.svg-ic_add_24px {
	background: url(svg-sprite-content.svg) 16.666666666666668% 0 no-repeat;
}

.svg-ic_add_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_add_box_24px {
	background: url(svg-sprite-content.svg) 0 80% no-repeat;
}

.svg-ic_add_box_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_add_circle_24px {
	background: url(svg-sprite-content.svg) 0 20% no-repeat;
}

.svg-ic_add_circle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_add_circle_outline_24px {
	background: url(svg-sprite-content.svg) 16.666666666666668% 20% no-repeat;
}

.svg-ic_add_circle_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_archive_24px {
	background: url(svg-sprite-content.svg) 33.333333333333336% 0 no-repeat;
}

.svg-ic_archive_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_backspace_24px {
	background: url(svg-sprite-content.svg) 33.333333333333336% 20% no-repeat;
}

.svg-ic_backspace_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_block_24px {
	background: url(svg-sprite-content.svg) 0 40% no-repeat;
}

.svg-ic_block_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_clear_24px {
	background: url(svg-sprite-content.svg) 16.666666666666668% 40% no-repeat;
}

.svg-ic_clear_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_content_copy_24px {
	background: url(svg-sprite-content.svg) 33.333333333333336% 40% no-repeat;
}

.svg-ic_content_copy_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_content_cut_24px {
	background: url(svg-sprite-content.svg) 50% 0 no-repeat;
}

.svg-ic_content_cut_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_content_paste_24px {
	background: url(svg-sprite-content.svg) 50% 20% no-repeat;
}

.svg-ic_content_paste_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_create_24px {
	background: url(svg-sprite-content.svg) 50% 40% no-repeat;
}

.svg-ic_create_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_delete_sweep_24px {
	background: url(svg-sprite-content.svg) 0 60% no-repeat;
}

.svg-ic_delete_sweep_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_drafts_24px {
	background: url(svg-sprite-content.svg) 16.666666666666668% 60% no-repeat;
}

.svg-ic_drafts_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_list_24px {
	background: url(svg-sprite-content.svg) 33.333333333333336% 60% no-repeat;
}

.svg-ic_filter_list_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flag_24px {
	background: url(svg-sprite-content.svg) 50% 60% no-repeat;
}

.svg-ic_flag_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_font_download_24px {
	background: url(svg-sprite-content.svg) 66.66666666666667% 0 no-repeat;
}

.svg-ic_font_download_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_forward_24px {
	background: url(svg-sprite-content.svg) 66.66666666666667% 20% no-repeat;
}

.svg-ic_forward_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_gesture_24px {
	background: url(svg-sprite-content.svg) 66.66666666666667% 40% no-repeat;
}

.svg-ic_gesture_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_inbox_24px {
	background: url(svg-sprite-content.svg) 66.66666666666667% 60% no-repeat;
}

.svg-ic_inbox_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_link_24px {
	background: url(svg-sprite-content.svg) 0 0 no-repeat;
}

.svg-ic_link_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_low_priority_24px {
	background: url(svg-sprite-content.svg) 16.666666666666668% 80% no-repeat;
}

.svg-ic_low_priority_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mail_24px {
	background: url(svg-sprite-content.svg) 33.333333333333336% 80% no-repeat;
}

.svg-ic_mail_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_markunread_24px {
	background: url(svg-sprite-content.svg) 50% 80% no-repeat;
}

.svg-ic_markunread_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_move_to_inbox_24px {
	background: url(svg-sprite-content.svg) 66.66666666666667% 80% no-repeat;
}

.svg-ic_move_to_inbox_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_next_week_24px {
	background: url(svg-sprite-content.svg) 83.33333333333333% 0 no-repeat;
}

.svg-ic_next_week_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_redo_24px {
	background: url(svg-sprite-content.svg) 83.33333333333333% 20% no-repeat;
}

.svg-ic_redo_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_remove_24px {
	background: url(svg-sprite-content.svg) 83.33333333333333% 40% no-repeat;
}

.svg-ic_remove_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_remove_circle_24px {
	background: url(svg-sprite-content.svg) 83.33333333333333% 60% no-repeat;
}

.svg-ic_remove_circle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_remove_circle_outline_24px {
	background: url(svg-sprite-content.svg) 83.33333333333333% 80% no-repeat;
}

.svg-ic_remove_circle_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_reply_24px {
	background: url(svg-sprite-content.svg) 0 100% no-repeat;
}

.svg-ic_reply_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_reply_all_24px {
	background: url(svg-sprite-content.svg) 16.666666666666668% 100% no-repeat;
}

.svg-ic_reply_all_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_report_24px {
	background: url(svg-sprite-content.svg) 33.333333333333336% 100% no-repeat;
}

.svg-ic_report_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_save_24px {
	background: url(svg-sprite-content.svg) 50% 100% no-repeat;
}

.svg-ic_save_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_select_all_24px {
	background: url(svg-sprite-content.svg) 66.66666666666667% 100% no-repeat;
}

.svg-ic_select_all_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_send_24px {
	background: url(svg-sprite-content.svg) 83.33333333333333% 100% no-repeat;
}

.svg-ic_send_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sort_24px {
	background: url(svg-sprite-content.svg) 100% 0 no-repeat;
}

.svg-ic_sort_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_text_format_24px {
	background: url(svg-sprite-content.svg) 100% 20% no-repeat;
}

.svg-ic_text_format_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_unarchive_24px {
	background: url(svg-sprite-content.svg) 100% 40% no-repeat;
}

.svg-ic_unarchive_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_undo_24px {
	background: url(svg-sprite-content.svg) 100% 60% no-repeat;
}

.svg-ic_undo_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_weekend_24px {
	background: url(svg-sprite-content.svg) 100% 80% no-repeat;
}

.svg-ic_weekend_24px-dims {
	width: 24px;
	height: 24px;
}

