.svg-ic_add_location_24px {
	background: url(svg-sprite-maps.svg) 12.5% 0 no-repeat;
}

.svg-ic_add_location_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_beenhere_24px {
	background: url(svg-sprite-maps.svg) 50% 71.42857142857143% no-repeat;
}

.svg-ic_beenhere_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_directions_24px {
	background: url(svg-sprite-maps.svg) 0 14.285714285714286% no-repeat;
}

.svg-ic_directions_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_directions_bike_24px {
	background: url(svg-sprite-maps.svg) 12.5% 14.285714285714286% no-repeat;
}

.svg-ic_directions_bike_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_directions_boat_24px {
	background: url(svg-sprite-maps.svg) 25% 0 no-repeat;
}

.svg-ic_directions_boat_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_directions_bus_24px {
	background: url(svg-sprite-maps.svg) 25% 14.285714285714286% no-repeat;
}

.svg-ic_directions_bus_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_directions_car_24px {
	background: url(svg-sprite-maps.svg) 0 28.571428571428573% no-repeat;
}

.svg-ic_directions_car_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_directions_railway_24px {
	background: url(svg-sprite-maps.svg) 12.5% 28.571428571428573% no-repeat;
}

.svg-ic_directions_railway_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_directions_run_24px {
	background: url(svg-sprite-maps.svg) 25% 28.571428571428573% no-repeat;
}

.svg-ic_directions_run_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_directions_subway_24px {
	background: url(svg-sprite-maps.svg) 37.5% 0 no-repeat;
}

.svg-ic_directions_subway_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_directions_transit_24px {
	background: url(svg-sprite-maps.svg) 37.5% 14.285714285714286% no-repeat;
}

.svg-ic_directions_transit_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_directions_walk_24px {
	background: url(svg-sprite-maps.svg) 37.5% 28.571428571428573% no-repeat;
}

.svg-ic_directions_walk_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_edit_location_24px {
	background: url(svg-sprite-maps.svg) 0 42.857142857142854% no-repeat;
}

.svg-ic_edit_location_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_ev_station_24px {
	background: url(svg-sprite-maps.svg) 12.5% 42.857142857142854% no-repeat;
}

.svg-ic_ev_station_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flight_24px {
	background: url(svg-sprite-maps.svg) 25% 42.857142857142854% no-repeat;
}

.svg-ic_flight_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_hotel_24px {
	background: url(svg-sprite-maps.svg) 37.5% 42.857142857142854% no-repeat;
}

.svg-ic_hotel_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_layers_24px {
	background: url(svg-sprite-maps.svg) 50% 0 no-repeat;
}

.svg-ic_layers_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_layers_clear_24px {
	background: url(svg-sprite-maps.svg) 50% 14.285714285714286% no-repeat;
}

.svg-ic_layers_clear_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_activity_24px {
	background: url(svg-sprite-maps.svg) 50% 28.571428571428573% no-repeat;
}

.svg-ic_local_activity_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_airport_24px {
	background: url(svg-sprite-maps.svg) 50% 42.857142857142854% no-repeat;
}

.svg-ic_local_airport_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_atm_24px {
	background: url(svg-sprite-maps.svg) 0 57.142857142857146% no-repeat;
}

.svg-ic_local_atm_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_bar_24px {
	background: url(svg-sprite-maps.svg) 12.5% 57.142857142857146% no-repeat;
}

.svg-ic_local_bar_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_cafe_24px {
	background: url(svg-sprite-maps.svg) 25% 57.142857142857146% no-repeat;
}

.svg-ic_local_cafe_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_car_wash_24px {
	background: url(svg-sprite-maps.svg) 37.5% 57.142857142857146% no-repeat;
}

.svg-ic_local_car_wash_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_convenience_store_24px {
	background: url(svg-sprite-maps.svg) 50% 57.142857142857146% no-repeat;
}

.svg-ic_local_convenience_store_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_dining_24px {
	background: url(svg-sprite-maps.svg) 62.5% 0 no-repeat;
}

.svg-ic_local_dining_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_drink_24px {
	background: url(svg-sprite-maps.svg) 62.5% 14.285714285714286% no-repeat;
}

.svg-ic_local_drink_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_florist_24px {
	background: url(svg-sprite-maps.svg) 62.5% 28.571428571428573% no-repeat;
}

.svg-ic_local_florist_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_gas_station_24px {
	background: url(svg-sprite-maps.svg) 62.5% 42.857142857142854% no-repeat;
}

.svg-ic_local_gas_station_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_grocery_store_24px {
	background: url(svg-sprite-maps.svg) 62.5% 57.142857142857146% no-repeat;
}

.svg-ic_local_grocery_store_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_hospital_24px {
	background: url(svg-sprite-maps.svg) 0 71.42857142857143% no-repeat;
}

.svg-ic_local_hospital_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_hotel_24px {
	background: url(svg-sprite-maps.svg) 12.5% 71.42857142857143% no-repeat;
}

.svg-ic_local_hotel_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_laundry_service_24px {
	background: url(svg-sprite-maps.svg) 25% 71.42857142857143% no-repeat;
}

.svg-ic_local_laundry_service_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_library_24px {
	background: url(svg-sprite-maps.svg) 37.5% 71.42857142857143% no-repeat;
}

.svg-ic_local_library_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_mall_24px {
	background: url(svg-sprite-maps.svg) 0 0 no-repeat;
}

.svg-ic_local_mall_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_movies_24px {
	background: url(svg-sprite-maps.svg) 62.5% 71.42857142857143% no-repeat;
}

.svg-ic_local_movies_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_offer_24px {
	background: url(svg-sprite-maps.svg) 75% 0 no-repeat;
}

.svg-ic_local_offer_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_parking_24px {
	background: url(svg-sprite-maps.svg) 75% 14.285714285714286% no-repeat;
}

.svg-ic_local_parking_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_pharmacy_24px {
	background: url(svg-sprite-maps.svg) 75% 28.571428571428573% no-repeat;
}

.svg-ic_local_pharmacy_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_phone_24px {
	background: url(svg-sprite-maps.svg) 75% 42.857142857142854% no-repeat;
}

.svg-ic_local_phone_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_pizza_24px {
	background: url(svg-sprite-maps.svg) 75% 57.142857142857146% no-repeat;
}

.svg-ic_local_pizza_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_play_24px {
	background: url(svg-sprite-maps.svg) 75% 71.42857142857143% no-repeat;
}

.svg-ic_local_play_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_post_office_24px {
	background: url(svg-sprite-maps.svg) 0 85.71428571428571% no-repeat;
}

.svg-ic_local_post_office_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_printshop_24px {
	background: url(svg-sprite-maps.svg) 12.5% 85.71428571428571% no-repeat;
}

.svg-ic_local_printshop_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_see_24px {
	background: url(svg-sprite-maps.svg) 25% 85.71428571428571% no-repeat;
}

.svg-ic_local_see_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_shipping_24px {
	background: url(svg-sprite-maps.svg) 37.5% 85.71428571428571% no-repeat;
}

.svg-ic_local_shipping_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_local_taxi_24px {
	background: url(svg-sprite-maps.svg) 50% 85.71428571428571% no-repeat;
}

.svg-ic_local_taxi_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_map_24px {
	background: url(svg-sprite-maps.svg) 62.5% 85.71428571428571% no-repeat;
}

.svg-ic_map_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_my_location_24px {
	background: url(svg-sprite-maps.svg) 75% 85.71428571428571% no-repeat;
}

.svg-ic_my_location_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_navigation_24px {
	background: url(svg-sprite-maps.svg) 87.5% 0 no-repeat;
}

.svg-ic_navigation_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_near_me_24px {
	background: url(svg-sprite-maps.svg) 87.5% 14.285714285714286% no-repeat;
}

.svg-ic_near_me_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_person_pin_24px {
	background: url(svg-sprite-maps.svg) 87.5% 28.571428571428573% no-repeat;
}

.svg-ic_person_pin_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_person_pin_circle_24px {
	background: url(svg-sprite-maps.svg) 87.5% 42.857142857142854% no-repeat;
}

.svg-ic_person_pin_circle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pin_drop_24px {
	background: url(svg-sprite-maps.svg) 87.5% 57.142857142857146% no-repeat;
}

.svg-ic_pin_drop_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_place_24px {
	background: url(svg-sprite-maps.svg) 87.5% 71.42857142857143% no-repeat;
}

.svg-ic_place_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_rate_review_24px {
	background: url(svg-sprite-maps.svg) 87.5% 85.71428571428571% no-repeat;
}

.svg-ic_rate_review_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_restaurant_24px {
	background: url(svg-sprite-maps.svg) 0 100% no-repeat;
}

.svg-ic_restaurant_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_restaurant_menu_24px {
	background: url(svg-sprite-maps.svg) 12.5% 100% no-repeat;
}

.svg-ic_restaurant_menu_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_satellite_24px {
	background: url(svg-sprite-maps.svg) 25% 100% no-repeat;
}

.svg-ic_satellite_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_store_mall_directory_24px {
	background: url(svg-sprite-maps.svg) 37.5% 100% no-repeat;
}

.svg-ic_store_mall_directory_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_streetview_24px {
	background: url(svg-sprite-maps.svg) 50% 100% no-repeat;
}

.svg-ic_streetview_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_subway_24px {
	background: url(svg-sprite-maps.svg) 62.5% 100% no-repeat;
}

.svg-ic_subway_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_terrain_24px {
	background: url(svg-sprite-maps.svg) 75% 100% no-repeat;
}

.svg-ic_terrain_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_traffic_24px {
	background: url(svg-sprite-maps.svg) 87.5% 100% no-repeat;
}

.svg-ic_traffic_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_train_24px {
	background: url(svg-sprite-maps.svg) 100% 0 no-repeat;
}

.svg-ic_train_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tram_24px {
	background: url(svg-sprite-maps.svg) 100% 14.285714285714286% no-repeat;
}

.svg-ic_tram_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_transfer_within_a_station_24px {
	background: url(svg-sprite-maps.svg) 100% 28.571428571428573% no-repeat;
}

.svg-ic_transfer_within_a_station_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_zoom_out_map_24px {
	background: url(svg-sprite-maps.svg) 100% 42.857142857142854% no-repeat;
}

.svg-ic_zoom_out_map_24px-dims {
	width: 24px;
	height: 24px;
}

