.svg-ic_attach_file_24px {
	background: url(svg-sprite-editor.svg) 12.5% 0 no-repeat;
}

.svg-ic_attach_file_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_attach_money_24px {
	background: url(svg-sprite-editor.svg) 50% 71.42857142857143% no-repeat;
}

.svg-ic_attach_money_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_all_24px {
	background: url(svg-sprite-editor.svg) 0 14.285714285714286% no-repeat;
}

.svg-ic_border_all_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_bottom_24px {
	background: url(svg-sprite-editor.svg) 12.5% 14.285714285714286% no-repeat;
}

.svg-ic_border_bottom_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_clear_24px {
	background: url(svg-sprite-editor.svg) 25% 0 no-repeat;
}

.svg-ic_border_clear_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_color_24px {
	background: url(svg-sprite-editor.svg) 25% 14.285714285714286% no-repeat;
}

.svg-ic_border_color_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_horizontal_24px {
	background: url(svg-sprite-editor.svg) 0 28.571428571428573% no-repeat;
}

.svg-ic_border_horizontal_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_inner_24px {
	background: url(svg-sprite-editor.svg) 12.5% 28.571428571428573% no-repeat;
}

.svg-ic_border_inner_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_left_24px {
	background: url(svg-sprite-editor.svg) 25% 28.571428571428573% no-repeat;
}

.svg-ic_border_left_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_outer_24px {
	background: url(svg-sprite-editor.svg) 37.5% 0 no-repeat;
}

.svg-ic_border_outer_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_right_24px {
	background: url(svg-sprite-editor.svg) 37.5% 14.285714285714286% no-repeat;
}

.svg-ic_border_right_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_style_24px {
	background: url(svg-sprite-editor.svg) 37.5% 28.571428571428573% no-repeat;
}

.svg-ic_border_style_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_top_24px {
	background: url(svg-sprite-editor.svg) 0 42.857142857142854% no-repeat;
}

.svg-ic_border_top_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_border_vertical_24px {
	background: url(svg-sprite-editor.svg) 12.5% 42.857142857142854% no-repeat;
}

.svg-ic_border_vertical_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_bubble_chart_24px {
	background: url(svg-sprite-editor.svg) 25% 42.857142857142854% no-repeat;
}

.svg-ic_bubble_chart_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_drag_handle_24px {
	background: url(svg-sprite-editor.svg) 37.5% 42.857142857142854% no-repeat;
}

.svg-ic_drag_handle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_align_center_24px {
	background: url(svg-sprite-editor.svg) 50% 0 no-repeat;
}

.svg-ic_format_align_center_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_align_justify_24px {
	background: url(svg-sprite-editor.svg) 50% 14.285714285714286% no-repeat;
}

.svg-ic_format_align_justify_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_align_left_24px {
	background: url(svg-sprite-editor.svg) 50% 28.571428571428573% no-repeat;
}

.svg-ic_format_align_left_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_align_right_24px {
	background: url(svg-sprite-editor.svg) 50% 42.857142857142854% no-repeat;
}

.svg-ic_format_align_right_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_bold_24px {
	background: url(svg-sprite-editor.svg) 0 57.142857142857146% no-repeat;
}

.svg-ic_format_bold_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_clear_24px {
	background: url(svg-sprite-editor.svg) 12.5% 57.142857142857146% no-repeat;
}

.svg-ic_format_clear_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_color_fill_24px {
	background: url(svg-sprite-editor.svg) 25% 57.142857142857146% no-repeat;
}

.svg-ic_format_color_fill_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_color_reset_24px {
	background: url(svg-sprite-editor.svg) 37.5% 57.142857142857146% no-repeat;
}

.svg-ic_format_color_reset_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_color_text_24px {
	background: url(svg-sprite-editor.svg) 50% 57.142857142857146% no-repeat;
}

.svg-ic_format_color_text_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_indent_decrease_24px {
	background: url(svg-sprite-editor.svg) 62.5% 0 no-repeat;
}

.svg-ic_format_indent_decrease_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_indent_increase_24px {
	background: url(svg-sprite-editor.svg) 62.5% 14.285714285714286% no-repeat;
}

.svg-ic_format_indent_increase_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_italic_24px {
	background: url(svg-sprite-editor.svg) 62.5% 28.571428571428573% no-repeat;
}

.svg-ic_format_italic_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_line_spacing_24px {
	background: url(svg-sprite-editor.svg) 62.5% 42.857142857142854% no-repeat;
}

.svg-ic_format_line_spacing_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_list_bulleted_24px {
	background: url(svg-sprite-editor.svg) 62.5% 57.142857142857146% no-repeat;
}

.svg-ic_format_list_bulleted_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_list_numbered_24px {
	background: url(svg-sprite-editor.svg) 0 71.42857142857143% no-repeat;
}

.svg-ic_format_list_numbered_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_paint_24px {
	background: url(svg-sprite-editor.svg) 12.5% 71.42857142857143% no-repeat;
}

.svg-ic_format_paint_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_quote_24px {
	background: url(svg-sprite-editor.svg) 25% 71.42857142857143% no-repeat;
}

.svg-ic_format_quote_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_shapes_24px {
	background: url(svg-sprite-editor.svg) 37.5% 71.42857142857143% no-repeat;
}

.svg-ic_format_shapes_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_size_24px {
	background: url(svg-sprite-editor.svg) 0 0 no-repeat;
}

.svg-ic_format_size_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_strikethrough_24px {
	background: url(svg-sprite-editor.svg) 62.5% 71.42857142857143% no-repeat;
}

.svg-ic_format_strikethrough_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_textdirection_l_to_r_24px {
	background: url(svg-sprite-editor.svg) 75% 0 no-repeat;
}

.svg-ic_format_textdirection_l_to_r_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_textdirection_r_to_l_24px {
	background: url(svg-sprite-editor.svg) 75% 14.285714285714286% no-repeat;
}

.svg-ic_format_textdirection_r_to_l_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_format_underlined_24px {
	background: url(svg-sprite-editor.svg) 75% 28.571428571428573% no-repeat;
}

.svg-ic_format_underlined_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_functions_24px {
	background: url(svg-sprite-editor.svg) 75% 42.857142857142854% no-repeat;
}

.svg-ic_functions_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_highlight_24px {
	background: url(svg-sprite-editor.svg) 75% 57.142857142857146% no-repeat;
}

.svg-ic_highlight_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_insert_chart_24px {
	background: url(svg-sprite-editor.svg) 75% 71.42857142857143% no-repeat;
}

.svg-ic_insert_chart_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_insert_comment_24px {
	background: url(svg-sprite-editor.svg) 0 85.71428571428571% no-repeat;
}

.svg-ic_insert_comment_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_insert_drive_file_24px {
	background: url(svg-sprite-editor.svg) 12.5% 85.71428571428571% no-repeat;
}

.svg-ic_insert_drive_file_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_insert_emoticon_24px {
	background: url(svg-sprite-editor.svg) 25% 85.71428571428571% no-repeat;
}

.svg-ic_insert_emoticon_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_insert_invitation_24px {
	background: url(svg-sprite-editor.svg) 37.5% 85.71428571428571% no-repeat;
}

.svg-ic_insert_invitation_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_insert_link_24px {
	background: url(svg-sprite-editor.svg) 50% 85.71428571428571% no-repeat;
}

.svg-ic_insert_link_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_insert_photo_24px {
	background: url(svg-sprite-editor.svg) 62.5% 85.71428571428571% no-repeat;
}

.svg-ic_insert_photo_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_linear_scale_24px {
	background: url(svg-sprite-editor.svg) 75% 85.71428571428571% no-repeat;
}

.svg-ic_linear_scale_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_merge_type_24px {
	background: url(svg-sprite-editor.svg) 87.5% 0 no-repeat;
}

.svg-ic_merge_type_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mode_comment_24px {
	background: url(svg-sprite-editor.svg) 87.5% 14.285714285714286% no-repeat;
}

.svg-ic_mode_comment_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mode_edit_24px {
	background: url(svg-sprite-editor.svg) 87.5% 28.571428571428573% no-repeat;
}

.svg-ic_mode_edit_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_monetization_on_24px {
	background: url(svg-sprite-editor.svg) 87.5% 42.857142857142854% no-repeat;
}

.svg-ic_monetization_on_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_money_off_24px {
	background: url(svg-sprite-editor.svg) 87.5% 57.142857142857146% no-repeat;
}

.svg-ic_money_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_multiline_chart_24px {
	background: url(svg-sprite-editor.svg) 87.5% 71.42857142857143% no-repeat;
}

.svg-ic_multiline_chart_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pie_chart_24px {
	background: url(svg-sprite-editor.svg) 87.5% 85.71428571428571% no-repeat;
}

.svg-ic_pie_chart_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pie_chart_outlined_24px {
	background: url(svg-sprite-editor.svg) 0 100% no-repeat;
}

.svg-ic_pie_chart_outlined_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_publish_24px {
	background: url(svg-sprite-editor.svg) 12.5% 100% no-repeat;
}

.svg-ic_publish_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_short_text_24px {
	background: url(svg-sprite-editor.svg) 25% 100% no-repeat;
}

.svg-ic_short_text_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_show_chart_24px {
	background: url(svg-sprite-editor.svg) 37.5% 100% no-repeat;
}

.svg-ic_show_chart_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_space_bar_24px {
	background: url(svg-sprite-editor.svg) 50% 100% no-repeat;
}

.svg-ic_space_bar_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_strikethrough_s_24px {
	background: url(svg-sprite-editor.svg) 62.5% 100% no-repeat;
}

.svg-ic_strikethrough_s_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_text_fields_24px {
	background: url(svg-sprite-editor.svg) 75% 100% no-repeat;
}

.svg-ic_text_fields_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_title_24px {
	background: url(svg-sprite-editor.svg) 87.5% 100% no-repeat;
}

.svg-ic_title_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_vertical_align_bottom_24px {
	background: url(svg-sprite-editor.svg) 100% 0 no-repeat;
}

.svg-ic_vertical_align_bottom_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_vertical_align_center_24px {
	background: url(svg-sprite-editor.svg) 100% 14.285714285714286% no-repeat;
}

.svg-ic_vertical_align_center_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_vertical_align_top_24px {
	background: url(svg-sprite-editor.svg) 100% 28.571428571428573% no-repeat;
}

.svg-ic_vertical_align_top_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_wrap_text_24px {
	background: url(svg-sprite-editor.svg) 100% 42.857142857142854% no-repeat;
}

.svg-ic_wrap_text_24px-dims {
	width: 24px;
	height: 24px;
}

