.svg-ic_ac_unit_24px {
	background: url(svg-sprite-places.svg) 25% 0 no-repeat;
}

.svg-ic_ac_unit_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_airport_shuttle_24px {
	background: url(svg-sprite-places.svg) 75% 0 no-repeat;
}

.svg-ic_airport_shuttle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_all_inclusive_24px {
	background: url(svg-sprite-places.svg) 0 33.333333333333336% no-repeat;
}

.svg-ic_all_inclusive_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_beach_access_24px {
	background: url(svg-sprite-places.svg) 25% 33.333333333333336% no-repeat;
}

.svg-ic_beach_access_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_business_center_24px {
	background: url(svg-sprite-places.svg) 50% 0 no-repeat;
}

.svg-ic_business_center_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_casino_24px {
	background: url(svg-sprite-places.svg) 50% 33.333333333333336% no-repeat;
}

.svg-ic_casino_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_child_care_24px {
	background: url(svg-sprite-places.svg) 0 66.66666666666667% no-repeat;
}

.svg-ic_child_care_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_child_friendly_24px {
	background: url(svg-sprite-places.svg) 25% 66.66666666666667% no-repeat;
}

.svg-ic_child_friendly_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_fitness_center_24px {
	background: url(svg-sprite-places.svg) 50% 66.66666666666667% no-repeat;
}

.svg-ic_fitness_center_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_free_breakfast_24px {
	background: url(svg-sprite-places.svg) 0 0 no-repeat;
}

.svg-ic_free_breakfast_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_golf_course_24px {
	background: url(svg-sprite-places.svg) 75% 33.333333333333336% no-repeat;
}

.svg-ic_golf_course_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_hot_tub_24px {
	background: url(svg-sprite-places.svg) 75% 66.66666666666667% no-repeat;
}

.svg-ic_hot_tub_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_kitchen_24px {
	background: url(svg-sprite-places.svg) 0 100% no-repeat;
}

.svg-ic_kitchen_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pool_24px {
	background: url(svg-sprite-places.svg) 25% 100% no-repeat;
}

.svg-ic_pool_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_room_service_24px {
	background: url(svg-sprite-places.svg) 50% 100% no-repeat;
}

.svg-ic_room_service_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_rv_hookup_24px {
	background: url(svg-sprite-places.svg) 75% 100% no-repeat;
}

.svg-ic_rv_hookup_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_smoke_free_24px {
	background: url(svg-sprite-places.svg) 100% 0 no-repeat;
}

.svg-ic_smoke_free_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_smoking_rooms_24px {
	background: url(svg-sprite-places.svg) 100% 33.333333333333336% no-repeat;
}

.svg-ic_smoking_rooms_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_spa_24px {
	background: url(svg-sprite-places.svg) 100% 66.66666666666667% no-repeat;
}

.svg-ic_spa_24px-dims {
	width: 24px;
	height: 24px;
}

