.svg-ic_attachment_24px {
	background: url(svg-sprite-file.svg) 33.333333333333336% 0 no-repeat;
}

.svg-ic_attachment_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_cloud_24px {
	background: url(svg-sprite-file.svg) 33.333333333333336% 66.66666666666667% no-repeat;
}

.svg-ic_cloud_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_cloud_circle_24px {
	background: url(svg-sprite-file.svg) 0 33.333333333333336% no-repeat;
}

.svg-ic_cloud_circle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_cloud_done_24px {
	background: url(svg-sprite-file.svg) 33.333333333333336% 33.333333333333336% no-repeat;
}

.svg-ic_cloud_done_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_cloud_download_24px {
	background: url(svg-sprite-file.svg) 66.66666666666667% 0 no-repeat;
}

.svg-ic_cloud_download_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_cloud_off_24px {
	background: url(svg-sprite-file.svg) 66.66666666666667% 33.333333333333336% no-repeat;
}

.svg-ic_cloud_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_cloud_queue_24px {
	background: url(svg-sprite-file.svg) 0 66.66666666666667% no-repeat;
}

.svg-ic_cloud_queue_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_cloud_upload_24px {
	background: url(svg-sprite-file.svg) 0 0 no-repeat;
}

.svg-ic_cloud_upload_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_create_new_folder_24px {
	background: url(svg-sprite-file.svg) 66.66666666666667% 66.66666666666667% no-repeat;
}

.svg-ic_create_new_folder_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_file_download_24px {
	background: url(svg-sprite-file.svg) 100% 0 no-repeat;
}

.svg-ic_file_download_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_file_upload_24px {
	background: url(svg-sprite-file.svg) 100% 33.333333333333336% no-repeat;
}

.svg-ic_file_upload_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_folder_24px {
	background: url(svg-sprite-file.svg) 100% 66.66666666666667% no-repeat;
}

.svg-ic_folder_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_folder_open_24px {
	background: url(svg-sprite-file.svg) 0 100% no-repeat;
}

.svg-ic_folder_open_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_folder_shared_24px {
	background: url(svg-sprite-file.svg) 33.333333333333336% 100% no-repeat;
}

.svg-ic_folder_shared_24px-dims {
	width: 24px;
	height: 24px;
}

