.svg-ic_adb_24px {
	background: url(svg-sprite-notification.svg) 14.285714285714286% 0 no-repeat;
}

.svg-ic_adb_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_airline_seat_flat_24px {
	background: url(svg-sprite-notification.svg) 71.42857142857143% 33.333333333333336% no-repeat;
}

.svg-ic_airline_seat_flat_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_airline_seat_flat_angled_24px {
	background: url(svg-sprite-notification.svg) 0 16.666666666666668% no-repeat;
}

.svg-ic_airline_seat_flat_angled_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_airline_seat_individual_suite_24px {
	background: url(svg-sprite-notification.svg) 14.285714285714286% 16.666666666666668% no-repeat;
}

.svg-ic_airline_seat_individual_suite_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_airline_seat_legroom_extra_24px {
	background: url(svg-sprite-notification.svg) 28.571428571428573% 0 no-repeat;
}

.svg-ic_airline_seat_legroom_extra_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_airline_seat_legroom_normal_24px {
	background: url(svg-sprite-notification.svg) 28.571428571428573% 16.666666666666668% no-repeat;
}

.svg-ic_airline_seat_legroom_normal_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_airline_seat_legroom_reduced_24px {
	background: url(svg-sprite-notification.svg) 0 33.333333333333336% no-repeat;
}

.svg-ic_airline_seat_legroom_reduced_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_airline_seat_recline_extra_24px {
	background: url(svg-sprite-notification.svg) 14.285714285714286% 33.333333333333336% no-repeat;
}

.svg-ic_airline_seat_recline_extra_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_airline_seat_recline_normal_24px {
	background: url(svg-sprite-notification.svg) 28.571428571428573% 33.333333333333336% no-repeat;
}

.svg-ic_airline_seat_recline_normal_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_bluetooth_audio_24px {
	background: url(svg-sprite-notification.svg) 42.857142857142854% 0 no-repeat;
}

.svg-ic_bluetooth_audio_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_confirmation_number_24px {
	background: url(svg-sprite-notification.svg) 42.857142857142854% 16.666666666666668% no-repeat;
}

.svg-ic_confirmation_number_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_disc_full_24px {
	background: url(svg-sprite-notification.svg) 42.857142857142854% 33.333333333333336% no-repeat;
}

.svg-ic_disc_full_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_do_not_disturb_24px {
	background: url(svg-sprite-notification.svg) 0 50% no-repeat;
}

.svg-ic_do_not_disturb_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_do_not_disturb_alt_24px {
	background: url(svg-sprite-notification.svg) 14.285714285714286% 50% no-repeat;
}

.svg-ic_do_not_disturb_alt_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_do_not_disturb_off_24px {
	background: url(svg-sprite-notification.svg) 28.571428571428573% 50% no-repeat;
}

.svg-ic_do_not_disturb_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_do_not_disturb_on_24px {
	background: url(svg-sprite-notification.svg) 42.857142857142854% 50% no-repeat;
}

.svg-ic_do_not_disturb_on_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_drive_eta_24px {
	background: url(svg-sprite-notification.svg) 57.142857142857146% 0 no-repeat;
}

.svg-ic_drive_eta_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_enhanced_encryption_24px {
	background: url(svg-sprite-notification.svg) 57.142857142857146% 16.666666666666668% no-repeat;
}

.svg-ic_enhanced_encryption_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_event_available_24px {
	background: url(svg-sprite-notification.svg) 57.142857142857146% 33.333333333333336% no-repeat;
}

.svg-ic_event_available_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_event_busy_24px {
	background: url(svg-sprite-notification.svg) 57.142857142857146% 50% no-repeat;
}

.svg-ic_event_busy_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_event_note_24px {
	background: url(svg-sprite-notification.svg) 0 66.66666666666667% no-repeat;
}

.svg-ic_event_note_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_folder_special_24px {
	background: url(svg-sprite-notification.svg) 14.285714285714286% 66.66666666666667% no-repeat;
}

.svg-ic_folder_special_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_live_tv_24px {
	background: url(svg-sprite-notification.svg) 28.571428571428573% 66.66666666666667% no-repeat;
}

.svg-ic_live_tv_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mms_24px {
	background: url(svg-sprite-notification.svg) 42.857142857142854% 66.66666666666667% no-repeat;
}

.svg-ic_mms_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_more_24px {
	background: url(svg-sprite-notification.svg) 57.142857142857146% 66.66666666666667% no-repeat;
}

.svg-ic_more_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_network_check_24px {
	background: url(svg-sprite-notification.svg) 71.42857142857143% 0 no-repeat;
}

.svg-ic_network_check_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_network_locked_24px {
	background: url(svg-sprite-notification.svg) 71.42857142857143% 16.666666666666668% no-repeat;
}

.svg-ic_network_locked_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_no_encryption_24px {
	background: url(svg-sprite-notification.svg) 0 0 no-repeat;
}

.svg-ic_no_encryption_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_ondemand_video_24px {
	background: url(svg-sprite-notification.svg) 71.42857142857143% 50% no-repeat;
}

.svg-ic_ondemand_video_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_personal_video_24px {
	background: url(svg-sprite-notification.svg) 71.42857142857143% 66.66666666666667% no-repeat;
}

.svg-ic_personal_video_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phone_bluetooth_speaker_24px {
	background: url(svg-sprite-notification.svg) 0 83.33333333333333% no-repeat;
}

.svg-ic_phone_bluetooth_speaker_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phone_forwarded_24px {
	background: url(svg-sprite-notification.svg) 14.285714285714286% 83.33333333333333% no-repeat;
}

.svg-ic_phone_forwarded_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phone_in_talk_24px {
	background: url(svg-sprite-notification.svg) 28.571428571428573% 83.33333333333333% no-repeat;
}

.svg-ic_phone_in_talk_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phone_locked_24px {
	background: url(svg-sprite-notification.svg) 42.857142857142854% 83.33333333333333% no-repeat;
}

.svg-ic_phone_locked_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phone_missed_24px {
	background: url(svg-sprite-notification.svg) 57.142857142857146% 83.33333333333333% no-repeat;
}

.svg-ic_phone_missed_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phone_paused_24px {
	background: url(svg-sprite-notification.svg) 71.42857142857143% 83.33333333333333% no-repeat;
}

.svg-ic_phone_paused_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_power_24px {
	background: url(svg-sprite-notification.svg) 85.71428571428571% 0 no-repeat;
}

.svg-ic_power_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_priority_high_24px {
	background: url(svg-sprite-notification.svg) 85.71428571428571% 16.666666666666668% no-repeat;
}

.svg-ic_priority_high_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_rv_hookup_24px {
	background: url(svg-sprite-notification.svg) 85.71428571428571% 33.333333333333336% no-repeat;
}

.svg-ic_rv_hookup_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sd_card_24px {
	background: url(svg-sprite-notification.svg) 85.71428571428571% 50% no-repeat;
}

.svg-ic_sd_card_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sim_card_alert_24px {
	background: url(svg-sprite-notification.svg) 85.71428571428571% 66.66666666666667% no-repeat;
}

.svg-ic_sim_card_alert_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sms_24px {
	background: url(svg-sprite-notification.svg) 85.71428571428571% 83.33333333333333% no-repeat;
}

.svg-ic_sms_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sms_failed_24px {
	background: url(svg-sprite-notification.svg) 0 100% no-repeat;
}

.svg-ic_sms_failed_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sync_24px {
	background: url(svg-sprite-notification.svg) 14.285714285714286% 100% no-repeat;
}

.svg-ic_sync_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sync_disabled_24px {
	background: url(svg-sprite-notification.svg) 28.571428571428573% 100% no-repeat;
}

.svg-ic_sync_disabled_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sync_problem_24px {
	background: url(svg-sprite-notification.svg) 42.857142857142854% 100% no-repeat;
}

.svg-ic_sync_problem_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_system_update_24px {
	background: url(svg-sprite-notification.svg) 57.142857142857146% 100% no-repeat;
}

.svg-ic_system_update_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tap_and_play_24px {
	background: url(svg-sprite-notification.svg) 71.42857142857143% 100% no-repeat;
}

.svg-ic_tap_and_play_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_time_to_leave_24px {
	background: url(svg-sprite-notification.svg) 85.71428571428571% 100% no-repeat;
}

.svg-ic_time_to_leave_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_vibration_24px {
	background: url(svg-sprite-notification.svg) 100% 0 no-repeat;
}

.svg-ic_vibration_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_voice_chat_24px {
	background: url(svg-sprite-notification.svg) 100% 16.666666666666668% no-repeat;
}

.svg-ic_voice_chat_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_vpn_lock_24px {
	background: url(svg-sprite-notification.svg) 100% 33.333333333333336% no-repeat;
}

.svg-ic_vpn_lock_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_wc_24px {
	background: url(svg-sprite-notification.svg) 100% 50% no-repeat;
}

.svg-ic_wc_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_wifi_24px {
	background: url(svg-sprite-notification.svg) 100% 66.66666666666667% no-repeat;
}

.svg-ic_wifi_24px-dims {
	width: 24px;
	height: 24px;
}

