.svg-ic_cast_24px {
	background: url(svg-sprite-hardware.svg) 16.666666666666668% 0 no-repeat;
}

.svg-ic_cast_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_cast_connected_24px {
	background: url(svg-sprite-hardware.svg) 66.66666666666667% 66.66666666666667% no-repeat;
}

.svg-ic_cast_connected_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_computer_24px {
	background: url(svg-sprite-hardware.svg) 0 16.666666666666668% no-repeat;
}

.svg-ic_computer_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_desktop_mac_24px {
	background: url(svg-sprite-hardware.svg) 16.666666666666668% 16.666666666666668% no-repeat;
}

.svg-ic_desktop_mac_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_desktop_windows_24px {
	background: url(svg-sprite-hardware.svg) 33.333333333333336% 0 no-repeat;
}

.svg-ic_desktop_windows_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_developer_board_24px {
	background: url(svg-sprite-hardware.svg) 33.333333333333336% 16.666666666666668% no-repeat;
}

.svg-ic_developer_board_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_device_hub_24px {
	background: url(svg-sprite-hardware.svg) 0 33.333333333333336% no-repeat;
}

.svg-ic_device_hub_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_devices_other_24px {
	background: url(svg-sprite-hardware.svg) 16.666666666666668% 33.333333333333336% no-repeat;
}

.svg-ic_devices_other_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_dock_24px {
	background: url(svg-sprite-hardware.svg) 33.333333333333336% 33.333333333333336% no-repeat;
}

.svg-ic_dock_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_gamepad_24px {
	background: url(svg-sprite-hardware.svg) 50% 0 no-repeat;
}

.svg-ic_gamepad_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_headset_24px {
	background: url(svg-sprite-hardware.svg) 50% 16.666666666666668% no-repeat;
}

.svg-ic_headset_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_headset_mic_24px {
	background: url(svg-sprite-hardware.svg) 50% 33.333333333333336% no-repeat;
}

.svg-ic_headset_mic_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_24px {
	background: url(svg-sprite-hardware.svg) 0 50% no-repeat;
}

.svg-ic_keyboard_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_arrow_down_24px {
	background: url(svg-sprite-hardware.svg) 16.666666666666668% 50% no-repeat;
}

.svg-ic_keyboard_arrow_down_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_arrow_left_24px {
	background: url(svg-sprite-hardware.svg) 33.333333333333336% 50% no-repeat;
}

.svg-ic_keyboard_arrow_left_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_arrow_right_24px {
	background: url(svg-sprite-hardware.svg) 50% 50% no-repeat;
}

.svg-ic_keyboard_arrow_right_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_arrow_up_24px {
	background: url(svg-sprite-hardware.svg) 66.66666666666667% 0 no-repeat;
}

.svg-ic_keyboard_arrow_up_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_backspace_24px {
	background: url(svg-sprite-hardware.svg) 66.66666666666667% 16.666666666666668% no-repeat;
}

.svg-ic_keyboard_backspace_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_capslock_24px {
	background: url(svg-sprite-hardware.svg) 66.66666666666667% 33.333333333333336% no-repeat;
}

.svg-ic_keyboard_capslock_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_hide_24px {
	background: url(svg-sprite-hardware.svg) 66.66666666666667% 50% no-repeat;
}

.svg-ic_keyboard_hide_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_return_24px {
	background: url(svg-sprite-hardware.svg) 0 66.66666666666667% no-repeat;
}

.svg-ic_keyboard_return_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_tab_24px {
	background: url(svg-sprite-hardware.svg) 16.666666666666668% 66.66666666666667% no-repeat;
}

.svg-ic_keyboard_tab_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_keyboard_voice_24px {
	background: url(svg-sprite-hardware.svg) 33.333333333333336% 66.66666666666667% no-repeat;
}

.svg-ic_keyboard_voice_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_laptop_24px {
	background: url(svg-sprite-hardware.svg) 50% 66.66666666666667% no-repeat;
}

.svg-ic_laptop_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_laptop_chromebook_24px {
	background: url(svg-sprite-hardware.svg) 0 0 no-repeat;
}

.svg-ic_laptop_chromebook_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_laptop_mac_24px {
	background: url(svg-sprite-hardware.svg) 83.33333333333333% 0 no-repeat;
}

.svg-ic_laptop_mac_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_laptop_windows_24px {
	background: url(svg-sprite-hardware.svg) 83.33333333333333% 16.666666666666668% no-repeat;
}

.svg-ic_laptop_windows_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_memory_24px {
	background: url(svg-sprite-hardware.svg) 83.33333333333333% 33.333333333333336% no-repeat;
}

.svg-ic_memory_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mouse_24px {
	background: url(svg-sprite-hardware.svg) 83.33333333333333% 50% no-repeat;
}

.svg-ic_mouse_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phone_android_24px {
	background: url(svg-sprite-hardware.svg) 83.33333333333333% 66.66666666666667% no-repeat;
}

.svg-ic_phone_android_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phone_iphone_24px {
	background: url(svg-sprite-hardware.svg) 0 83.33333333333333% no-repeat;
}

.svg-ic_phone_iphone_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phonelink_24px {
	background: url(svg-sprite-hardware.svg) 16.666666666666668% 83.33333333333333% no-repeat;
}

.svg-ic_phonelink_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phonelink_off_24px {
	background: url(svg-sprite-hardware.svg) 33.333333333333336% 83.33333333333333% no-repeat;
}

.svg-ic_phonelink_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_power_input_24px {
	background: url(svg-sprite-hardware.svg) 50% 83.33333333333333% no-repeat;
}

.svg-ic_power_input_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_router_24px {
	background: url(svg-sprite-hardware.svg) 66.66666666666667% 83.33333333333333% no-repeat;
}

.svg-ic_router_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_scanner_24px {
	background: url(svg-sprite-hardware.svg) 83.33333333333333% 83.33333333333333% no-repeat;
}

.svg-ic_scanner_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_security_24px {
	background: url(svg-sprite-hardware.svg) 100% 0 no-repeat;
}

.svg-ic_security_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sim_card_24px {
	background: url(svg-sprite-hardware.svg) 100% 16.666666666666668% no-repeat;
}

.svg-ic_sim_card_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_smartphone_24px {
	background: url(svg-sprite-hardware.svg) 100% 33.333333333333336% no-repeat;
}

.svg-ic_smartphone_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_speaker_24px {
	background: url(svg-sprite-hardware.svg) 100% 50% no-repeat;
}

.svg-ic_speaker_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_speaker_group_24px {
	background: url(svg-sprite-hardware.svg) 100% 66.66666666666667% no-repeat;
}

.svg-ic_speaker_group_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tablet_24px {
	background: url(svg-sprite-hardware.svg) 100% 83.33333333333333% no-repeat;
}

.svg-ic_tablet_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tablet_android_24px {
	background: url(svg-sprite-hardware.svg) 0 100% no-repeat;
}

.svg-ic_tablet_android_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tablet_mac_24px {
	background: url(svg-sprite-hardware.svg) 16.666666666666668% 100% no-repeat;
}

.svg-ic_tablet_mac_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_toys_24px {
	background: url(svg-sprite-hardware.svg) 33.333333333333336% 100% no-repeat;
}

.svg-ic_toys_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tv_24px {
	background: url(svg-sprite-hardware.svg) 50% 100% no-repeat;
}

.svg-ic_tv_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_videogame_asset_24px {
	background: url(svg-sprite-hardware.svg) 66.66666666666667% 100% no-repeat;
}

.svg-ic_videogame_asset_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_watch_24px {
	background: url(svg-sprite-hardware.svg) 83.33333333333333% 100% no-repeat;
}

.svg-ic_watch_24px-dims {
	width: 24px;
	height: 24px;
}

