.svg-ic_add_a_photo_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 0 no-repeat;
}

.svg-ic_add_a_photo_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_add_to_photos_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 72.72727272727273% no-repeat;
}

.svg-ic_add_to_photos_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_adjust_24px {
	background: url(svg-sprite-image.svg) 0 9.090909090909092% no-repeat;
}

.svg-ic_adjust_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_assistant_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 9.090909090909092% no-repeat;
}

.svg-ic_assistant_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_assistant_photo_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 0 no-repeat;
}

.svg-ic_assistant_photo_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_audiotrack_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 9.090909090909092% no-repeat;
}

.svg-ic_audiotrack_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_blur_circular_24px {
	background: url(svg-sprite-image.svg) 0 18.181818181818183% no-repeat;
}

.svg-ic_blur_circular_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_blur_linear_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 18.181818181818183% no-repeat;
}

.svg-ic_blur_linear_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_blur_off_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 18.181818181818183% no-repeat;
}

.svg-ic_blur_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_blur_on_24px {
	background: url(svg-sprite-image.svg) 25% 0 no-repeat;
}

.svg-ic_blur_on_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_brightness_1_24px {
	background: url(svg-sprite-image.svg) 25% 9.090909090909092% no-repeat;
}

.svg-ic_brightness_1_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_brightness_2_24px {
	background: url(svg-sprite-image.svg) 25% 18.181818181818183% no-repeat;
}

.svg-ic_brightness_2_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_brightness_3_24px {
	background: url(svg-sprite-image.svg) 0 27.272727272727273% no-repeat;
}

.svg-ic_brightness_3_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_brightness_4_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 27.272727272727273% no-repeat;
}

.svg-ic_brightness_4_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_brightness_5_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 27.272727272727273% no-repeat;
}

.svg-ic_brightness_5_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_brightness_6_24px {
	background: url(svg-sprite-image.svg) 25% 27.272727272727273% no-repeat;
}

.svg-ic_brightness_6_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_brightness_7_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 0 no-repeat;
}

.svg-ic_brightness_7_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_broken_image_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 9.090909090909092% no-repeat;
}

.svg-ic_broken_image_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_brush_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 18.181818181818183% no-repeat;
}

.svg-ic_brush_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_burst_mode_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 27.272727272727273% no-repeat;
}

.svg-ic_burst_mode_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_camera_24px {
	background: url(svg-sprite-image.svg) 0 36.36363636363637% no-repeat;
}

.svg-ic_camera_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_camera_alt_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 36.36363636363637% no-repeat;
}

.svg-ic_camera_alt_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_camera_front_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 36.36363636363637% no-repeat;
}

.svg-ic_camera_front_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_camera_rear_24px {
	background: url(svg-sprite-image.svg) 25% 36.36363636363637% no-repeat;
}

.svg-ic_camera_rear_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_camera_roll_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 36.36363636363637% no-repeat;
}

.svg-ic_camera_roll_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_center_focus_strong_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 0 no-repeat;
}

.svg-ic_center_focus_strong_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_center_focus_weak_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 9.090909090909092% no-repeat;
}

.svg-ic_center_focus_weak_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_collections_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 18.181818181818183% no-repeat;
}

.svg-ic_collections_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_collections_bookmark_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 27.272727272727273% no-repeat;
}

.svg-ic_collections_bookmark_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_color_lens_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 36.36363636363637% no-repeat;
}

.svg-ic_color_lens_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_colorize_24px {
	background: url(svg-sprite-image.svg) 0 45.45454545454545% no-repeat;
}

.svg-ic_colorize_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_compare_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 45.45454545454545% no-repeat;
}

.svg-ic_compare_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_control_point_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 45.45454545454545% no-repeat;
}

.svg-ic_control_point_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_control_point_duplicate_24px {
	background: url(svg-sprite-image.svg) 25% 45.45454545454545% no-repeat;
}

.svg-ic_control_point_duplicate_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_16_9_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 45.45454545454545% no-repeat;
}

.svg-ic_crop_16_9_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 45.45454545454545% no-repeat;
}

.svg-ic_crop_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_3_2_24px {
	background: url(svg-sprite-image.svg) 50% 0 no-repeat;
}

.svg-ic_crop_3_2_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_5_4_24px {
	background: url(svg-sprite-image.svg) 50% 9.090909090909092% no-repeat;
}

.svg-ic_crop_5_4_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_7_5_24px {
	background: url(svg-sprite-image.svg) 50% 18.181818181818183% no-repeat;
}

.svg-ic_crop_7_5_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_din_24px {
	background: url(svg-sprite-image.svg) 50% 27.272727272727273% no-repeat;
}

.svg-ic_crop_din_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_free_24px {
	background: url(svg-sprite-image.svg) 50% 36.36363636363637% no-repeat;
}

.svg-ic_crop_free_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_landscape_24px {
	background: url(svg-sprite-image.svg) 50% 45.45454545454545% no-repeat;
}

.svg-ic_crop_landscape_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_original_24px {
	background: url(svg-sprite-image.svg) 0 54.54545454545455% no-repeat;
}

.svg-ic_crop_original_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_portrait_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 54.54545454545455% no-repeat;
}

.svg-ic_crop_portrait_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_rotate_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 54.54545454545455% no-repeat;
}

.svg-ic_crop_rotate_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_crop_square_24px {
	background: url(svg-sprite-image.svg) 25% 54.54545454545455% no-repeat;
}

.svg-ic_crop_square_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_dehaze_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 54.54545454545455% no-repeat;
}

.svg-ic_dehaze_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_details_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 54.54545454545455% no-repeat;
}

.svg-ic_details_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_edit_24px {
	background: url(svg-sprite-image.svg) 50% 54.54545454545455% no-repeat;
}

.svg-ic_edit_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_exposure_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 0 no-repeat;
}

.svg-ic_exposure_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_exposure_neg_1_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 9.090909090909092% no-repeat;
}

.svg-ic_exposure_neg_1_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_exposure_neg_2_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 18.181818181818183% no-repeat;
}

.svg-ic_exposure_neg_2_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_exposure_plus_1_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 27.272727272727273% no-repeat;
}

.svg-ic_exposure_plus_1_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_exposure_plus_2_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 36.36363636363637% no-repeat;
}

.svg-ic_exposure_plus_2_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_exposure_zero_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 45.45454545454545% no-repeat;
}

.svg-ic_exposure_zero_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_1_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 54.54545454545455% no-repeat;
}

.svg-ic_filter_1_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_24px {
	background: url(svg-sprite-image.svg) 0 63.63636363636363% no-repeat;
}

.svg-ic_filter_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_2_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 63.63636363636363% no-repeat;
}

.svg-ic_filter_2_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_3_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 63.63636363636363% no-repeat;
}

.svg-ic_filter_3_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_4_24px {
	background: url(svg-sprite-image.svg) 25% 63.63636363636363% no-repeat;
}

.svg-ic_filter_4_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_5_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 63.63636363636363% no-repeat;
}

.svg-ic_filter_5_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_6_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 63.63636363636363% no-repeat;
}

.svg-ic_filter_6_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_7_24px {
	background: url(svg-sprite-image.svg) 50% 63.63636363636363% no-repeat;
}

.svg-ic_filter_7_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_8_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 63.63636363636363% no-repeat;
}

.svg-ic_filter_8_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_9_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 0 no-repeat;
}

.svg-ic_filter_9_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_9_plus_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 9.090909090909092% no-repeat;
}

.svg-ic_filter_9_plus_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_b_and_w_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 18.181818181818183% no-repeat;
}

.svg-ic_filter_b_and_w_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_center_focus_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 27.272727272727273% no-repeat;
}

.svg-ic_filter_center_focus_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_drama_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 36.36363636363637% no-repeat;
}

.svg-ic_filter_drama_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_frames_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 45.45454545454545% no-repeat;
}

.svg-ic_filter_frames_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_hdr_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 54.54545454545455% no-repeat;
}

.svg-ic_filter_hdr_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_none_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 63.63636363636363% no-repeat;
}

.svg-ic_filter_none_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_tilt_shift_24px {
	background: url(svg-sprite-image.svg) 0 72.72727272727273% no-repeat;
}

.svg-ic_filter_tilt_shift_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_filter_vintage_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 72.72727272727273% no-repeat;
}

.svg-ic_filter_vintage_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flare_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 72.72727272727273% no-repeat;
}

.svg-ic_flare_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flash_auto_24px {
	background: url(svg-sprite-image.svg) 25% 72.72727272727273% no-repeat;
}

.svg-ic_flash_auto_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flash_off_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 72.72727272727273% no-repeat;
}

.svg-ic_flash_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flash_on_24px {
	background: url(svg-sprite-image.svg) 0 0 no-repeat;
}

.svg-ic_flash_on_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_flip_24px {
	background: url(svg-sprite-image.svg) 50% 72.72727272727273% no-repeat;
}

.svg-ic_flip_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_gradient_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 72.72727272727273% no-repeat;
}

.svg-ic_gradient_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_grain_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 72.72727272727273% no-repeat;
}

.svg-ic_grain_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_grid_off_24px {
	background: url(svg-sprite-image.svg) 75% 0 no-repeat;
}

.svg-ic_grid_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_grid_on_24px {
	background: url(svg-sprite-image.svg) 75% 9.090909090909092% no-repeat;
}

.svg-ic_grid_on_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_hdr_off_24px {
	background: url(svg-sprite-image.svg) 75% 18.181818181818183% no-repeat;
}

.svg-ic_hdr_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_hdr_on_24px {
	background: url(svg-sprite-image.svg) 75% 27.272727272727273% no-repeat;
}

.svg-ic_hdr_on_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_hdr_strong_24px {
	background: url(svg-sprite-image.svg) 75% 36.36363636363637% no-repeat;
}

.svg-ic_hdr_strong_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_hdr_weak_24px {
	background: url(svg-sprite-image.svg) 75% 45.45454545454545% no-repeat;
}

.svg-ic_hdr_weak_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_healing_24px {
	background: url(svg-sprite-image.svg) 75% 54.54545454545455% no-repeat;
}

.svg-ic_healing_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_image_24px {
	background: url(svg-sprite-image.svg) 75% 63.63636363636363% no-repeat;
}

.svg-ic_image_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_image_aspect_ratio_24px {
	background: url(svg-sprite-image.svg) 75% 72.72727272727273% no-repeat;
}

.svg-ic_image_aspect_ratio_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_iso_24px {
	background: url(svg-sprite-image.svg) 0 81.81818181818181% no-repeat;
}

.svg-ic_iso_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_landscape_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 81.81818181818181% no-repeat;
}

.svg-ic_landscape_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_leak_add_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 81.81818181818181% no-repeat;
}

.svg-ic_leak_add_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_leak_remove_24px {
	background: url(svg-sprite-image.svg) 25% 81.81818181818181% no-repeat;
}

.svg-ic_leak_remove_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_lens_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 81.81818181818181% no-repeat;
}

.svg-ic_lens_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_linked_camera_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 81.81818181818181% no-repeat;
}

.svg-ic_linked_camera_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_looks_24px {
	background: url(svg-sprite-image.svg) 50% 81.81818181818181% no-repeat;
}

.svg-ic_looks_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_looks_3_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 81.81818181818181% no-repeat;
}

.svg-ic_looks_3_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_looks_4_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 81.81818181818181% no-repeat;
}

.svg-ic_looks_4_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_looks_5_24px {
	background: url(svg-sprite-image.svg) 75% 81.81818181818181% no-repeat;
}

.svg-ic_looks_5_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_looks_6_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 0 no-repeat;
}

.svg-ic_looks_6_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_looks_one_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 9.090909090909092% no-repeat;
}

.svg-ic_looks_one_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_looks_two_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 18.181818181818183% no-repeat;
}

.svg-ic_looks_two_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_loupe_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 27.272727272727273% no-repeat;
}

.svg-ic_loupe_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_monochrome_photos_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 36.36363636363637% no-repeat;
}

.svg-ic_monochrome_photos_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_movie_creation_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 45.45454545454545% no-repeat;
}

.svg-ic_movie_creation_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_movie_filter_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 54.54545454545455% no-repeat;
}

.svg-ic_movie_filter_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_music_note_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 63.63636363636363% no-repeat;
}

.svg-ic_music_note_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_nature_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 72.72727272727273% no-repeat;
}

.svg-ic_nature_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_nature_people_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 81.81818181818181% no-repeat;
}

.svg-ic_nature_people_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_navigate_before_24px {
	background: url(svg-sprite-image.svg) 0 90.9090909090909% no-repeat;
}

.svg-ic_navigate_before_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_navigate_next_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 90.9090909090909% no-repeat;
}

.svg-ic_navigate_next_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_palette_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 90.9090909090909% no-repeat;
}

.svg-ic_palette_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_panorama_24px {
	background: url(svg-sprite-image.svg) 25% 90.9090909090909% no-repeat;
}

.svg-ic_panorama_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_panorama_fish_eye_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 90.9090909090909% no-repeat;
}

.svg-ic_panorama_fish_eye_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_panorama_horizontal_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 90.9090909090909% no-repeat;
}

.svg-ic_panorama_horizontal_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_panorama_vertical_24px {
	background: url(svg-sprite-image.svg) 50% 90.9090909090909% no-repeat;
}

.svg-ic_panorama_vertical_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_panorama_wide_angle_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 90.9090909090909% no-repeat;
}

.svg-ic_panorama_wide_angle_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_photo_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 90.9090909090909% no-repeat;
}

.svg-ic_photo_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_photo_album_24px {
	background: url(svg-sprite-image.svg) 75% 90.9090909090909% no-repeat;
}

.svg-ic_photo_album_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_photo_camera_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 90.9090909090909% no-repeat;
}

.svg-ic_photo_camera_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_photo_filter_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 0 no-repeat;
}

.svg-ic_photo_filter_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_photo_library_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 9.090909090909092% no-repeat;
}

.svg-ic_photo_library_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_photo_size_select_actual_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 18.181818181818183% no-repeat;
}

.svg-ic_photo_size_select_actual_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_photo_size_select_large_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 27.272727272727273% no-repeat;
}

.svg-ic_photo_size_select_large_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_photo_size_select_small_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 36.36363636363637% no-repeat;
}

.svg-ic_photo_size_select_small_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_picture_as_pdf_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 45.45454545454545% no-repeat;
}

.svg-ic_picture_as_pdf_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_portrait_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 54.54545454545455% no-repeat;
}

.svg-ic_portrait_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_remove_red_eye_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 63.63636363636363% no-repeat;
}

.svg-ic_remove_red_eye_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_rotate_90_degrees_ccw_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 72.72727272727273% no-repeat;
}

.svg-ic_rotate_90_degrees_ccw_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_rotate_left_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 81.81818181818181% no-repeat;
}

.svg-ic_rotate_left_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_rotate_right_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 90.9090909090909% no-repeat;
}

.svg-ic_rotate_right_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_slideshow_24px {
	background: url(svg-sprite-image.svg) 0 100% no-repeat;
}

.svg-ic_slideshow_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_straighten_24px {
	background: url(svg-sprite-image.svg) 8.333333333333334% 100% no-repeat;
}

.svg-ic_straighten_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_style_24px {
	background: url(svg-sprite-image.svg) 16.666666666666668% 100% no-repeat;
}

.svg-ic_style_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_switch_camera_24px {
	background: url(svg-sprite-image.svg) 25% 100% no-repeat;
}

.svg-ic_switch_camera_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_switch_video_24px {
	background: url(svg-sprite-image.svg) 33.333333333333336% 100% no-repeat;
}

.svg-ic_switch_video_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tag_faces_24px {
	background: url(svg-sprite-image.svg) 41.666666666666664% 100% no-repeat;
}

.svg-ic_tag_faces_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_texture_24px {
	background: url(svg-sprite-image.svg) 50% 100% no-repeat;
}

.svg-ic_texture_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_timelapse_24px {
	background: url(svg-sprite-image.svg) 58.333333333333336% 100% no-repeat;
}

.svg-ic_timelapse_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_timer_10_24px {
	background: url(svg-sprite-image.svg) 66.66666666666667% 100% no-repeat;
}

.svg-ic_timer_10_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_timer_24px {
	background: url(svg-sprite-image.svg) 75% 100% no-repeat;
}

.svg-ic_timer_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_timer_3_24px {
	background: url(svg-sprite-image.svg) 83.33333333333333% 100% no-repeat;
}

.svg-ic_timer_3_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_timer_off_24px {
	background: url(svg-sprite-image.svg) 91.66666666666667% 100% no-repeat;
}

.svg-ic_timer_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tonality_24px {
	background: url(svg-sprite-image.svg) 100% 0 no-repeat;
}

.svg-ic_tonality_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_transform_24px {
	background: url(svg-sprite-image.svg) 100% 9.090909090909092% no-repeat;
}

.svg-ic_transform_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_tune_24px {
	background: url(svg-sprite-image.svg) 100% 18.181818181818183% no-repeat;
}

.svg-ic_tune_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_comfy_24px {
	background: url(svg-sprite-image.svg) 100% 27.272727272727273% no-repeat;
}

.svg-ic_view_comfy_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_view_compact_24px {
	background: url(svg-sprite-image.svg) 100% 36.36363636363637% no-repeat;
}

.svg-ic_view_compact_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_vignette_24px {
	background: url(svg-sprite-image.svg) 100% 45.45454545454545% no-repeat;
}

.svg-ic_vignette_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_wb_auto_24px {
	background: url(svg-sprite-image.svg) 100% 54.54545454545455% no-repeat;
}

.svg-ic_wb_auto_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_wb_cloudy_24px {
	background: url(svg-sprite-image.svg) 100% 63.63636363636363% no-repeat;
}

.svg-ic_wb_cloudy_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_wb_incandescent_24px {
	background: url(svg-sprite-image.svg) 100% 72.72727272727273% no-repeat;
}

.svg-ic_wb_incandescent_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_wb_iridescent_24px {
	background: url(svg-sprite-image.svg) 100% 81.81818181818181% no-repeat;
}

.svg-ic_wb_iridescent_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_wb_sunny_24px {
	background: url(svg-sprite-image.svg) 100% 90.9090909090909% no-repeat;
}

.svg-ic_wb_sunny_24px-dims {
	width: 24px;
	height: 24px;
}

