.svg-ic_cake_24px {
	background: url(svg-sprite-social.svg) 20% 0 no-repeat;
}

.svg-ic_cake_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_domain_24px {
	background: url(svg-sprite-social.svg) 60% 75% no-repeat;
}

.svg-ic_domain_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_group_24px {
	background: url(svg-sprite-social.svg) 0 25% no-repeat;
}

.svg-ic_group_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_group_add_24px {
	background: url(svg-sprite-social.svg) 20% 25% no-repeat;
}

.svg-ic_group_add_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_location_city_24px {
	background: url(svg-sprite-social.svg) 40% 0 no-repeat;
}

.svg-ic_location_city_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mood_24px {
	background: url(svg-sprite-social.svg) 40% 25% no-repeat;
}

.svg-ic_mood_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mood_bad_24px {
	background: url(svg-sprite-social.svg) 0 50% no-repeat;
}

.svg-ic_mood_bad_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_notifications_24px {
	background: url(svg-sprite-social.svg) 20% 50% no-repeat;
}

.svg-ic_notifications_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_notifications_active_24px {
	background: url(svg-sprite-social.svg) 40% 50% no-repeat;
}

.svg-ic_notifications_active_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_notifications_none_24px {
	background: url(svg-sprite-social.svg) 60% 0 no-repeat;
}

.svg-ic_notifications_none_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_notifications_off_24px {
	background: url(svg-sprite-social.svg) 60% 25% no-repeat;
}

.svg-ic_notifications_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_notifications_paused_24px {
	background: url(svg-sprite-social.svg) 60% 50% no-repeat;
}

.svg-ic_notifications_paused_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_pages_24px {
	background: url(svg-sprite-social.svg) 0 75% no-repeat;
}

.svg-ic_pages_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_party_mode_24px {
	background: url(svg-sprite-social.svg) 20% 75% no-repeat;
}

.svg-ic_party_mode_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_people_24px {
	background: url(svg-sprite-social.svg) 40% 75% no-repeat;
}

.svg-ic_people_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_people_outline_24px {
	background: url(svg-sprite-social.svg) 0 0 no-repeat;
}

.svg-ic_people_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_person_24px {
	background: url(svg-sprite-social.svg) 80% 0 no-repeat;
}

.svg-ic_person_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_person_add_24px {
	background: url(svg-sprite-social.svg) 80% 25% no-repeat;
}

.svg-ic_person_add_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_person_outline_24px {
	background: url(svg-sprite-social.svg) 80% 50% no-repeat;
}

.svg-ic_person_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_plus_one_24px {
	background: url(svg-sprite-social.svg) 80% 75% no-repeat;
}

.svg-ic_plus_one_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_poll_24px {
	background: url(svg-sprite-social.svg) 0 100% no-repeat;
}

.svg-ic_poll_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_public_24px {
	background: url(svg-sprite-social.svg) 20% 100% no-repeat;
}

.svg-ic_public_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_school_24px {
	background: url(svg-sprite-social.svg) 40% 100% no-repeat;
}

.svg-ic_school_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sentiment_dissatisfied_24px {
	background: url(svg-sprite-social.svg) 60% 100% no-repeat;
}

.svg-ic_sentiment_dissatisfied_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sentiment_neutral_24px {
	background: url(svg-sprite-social.svg) 80% 100% no-repeat;
}

.svg-ic_sentiment_neutral_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sentiment_satisfied_24px {
	background: url(svg-sprite-social.svg) 100% 0 no-repeat;
}

.svg-ic_sentiment_satisfied_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sentiment_very_dissatisfied_24px {
	background: url(svg-sprite-social.svg) 100% 25% no-repeat;
}

.svg-ic_sentiment_very_dissatisfied_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_sentiment_very_satisfied_24px {
	background: url(svg-sprite-social.svg) 100% 50% no-repeat;
}

.svg-ic_sentiment_very_satisfied_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_share_24px {
	background: url(svg-sprite-social.svg) 100% 75% no-repeat;
}

.svg-ic_share_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_whatshot_24px {
	background: url(svg-sprite-social.svg) 100% 100% no-repeat;
}

.svg-ic_whatshot_24px-dims {
	width: 24px;
	height: 24px;
}

