.svg-ic_business_24px {
	background: url(svg-sprite-communication.svg) 14.285714285714286% 0 no-repeat;
}

.svg-ic_business_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_call_24px {
	background: url(svg-sprite-communication.svg) 71.42857142857143% 0 no-repeat;
}

.svg-ic_call_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_call_end_24px {
	background: url(svg-sprite-communication.svg) 0 16.666666666666668% no-repeat;
}

.svg-ic_call_end_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_call_made_24px {
	background: url(svg-sprite-communication.svg) 14.285714285714286% 16.666666666666668% no-repeat;
}

.svg-ic_call_made_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_call_merge_24px {
	background: url(svg-sprite-communication.svg) 28.571428571428573% 0 no-repeat;
}

.svg-ic_call_merge_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_call_missed_24px {
	background: url(svg-sprite-communication.svg) 28.571428571428573% 16.666666666666668% no-repeat;
}

.svg-ic_call_missed_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_call_missed_outgoing_24px {
	background: url(svg-sprite-communication.svg) 0 33.333333333333336% no-repeat;
}

.svg-ic_call_missed_outgoing_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_call_received_24px {
	background: url(svg-sprite-communication.svg) 14.285714285714286% 33.333333333333336% no-repeat;
}

.svg-ic_call_received_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_call_split_24px {
	background: url(svg-sprite-communication.svg) 28.571428571428573% 33.333333333333336% no-repeat;
}

.svg-ic_call_split_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_chat_24px {
	background: url(svg-sprite-communication.svg) 42.857142857142854% 0 no-repeat;
}

.svg-ic_chat_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_chat_bubble_24px {
	background: url(svg-sprite-communication.svg) 42.857142857142854% 16.666666666666668% no-repeat;
}

.svg-ic_chat_bubble_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_chat_bubble_outline_24px {
	background: url(svg-sprite-communication.svg) 42.857142857142854% 33.333333333333336% no-repeat;
}

.svg-ic_chat_bubble_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_clear_all_24px {
	background: url(svg-sprite-communication.svg) 0 50% no-repeat;
}

.svg-ic_clear_all_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_comment_24px {
	background: url(svg-sprite-communication.svg) 14.285714285714286% 50% no-repeat;
}

.svg-ic_comment_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_contact_mail_24px {
	background: url(svg-sprite-communication.svg) 28.571428571428573% 50% no-repeat;
}

.svg-ic_contact_mail_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_contact_phone_24px {
	background: url(svg-sprite-communication.svg) 42.857142857142854% 50% no-repeat;
}

.svg-ic_contact_phone_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_contacts_24px {
	background: url(svg-sprite-communication.svg) 57.142857142857146% 0 no-repeat;
}

.svg-ic_contacts_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_dialer_sip_24px {
	background: url(svg-sprite-communication.svg) 57.142857142857146% 16.666666666666668% no-repeat;
}

.svg-ic_dialer_sip_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_dialpad_24px {
	background: url(svg-sprite-communication.svg) 57.142857142857146% 33.333333333333336% no-repeat;
}

.svg-ic_dialpad_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_email_24px {
	background: url(svg-sprite-communication.svg) 57.142857142857146% 50% no-repeat;
}

.svg-ic_email_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_forum_24px {
	background: url(svg-sprite-communication.svg) 0 66.66666666666667% no-repeat;
}

.svg-ic_forum_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_import_contacts_24px {
	background: url(svg-sprite-communication.svg) 14.285714285714286% 66.66666666666667% no-repeat;
}

.svg-ic_import_contacts_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_import_export_24px {
	background: url(svg-sprite-communication.svg) 28.571428571428573% 66.66666666666667% no-repeat;
}

.svg-ic_import_export_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_invert_colors_off_24px {
	background: url(svg-sprite-communication.svg) 42.857142857142854% 66.66666666666667% no-repeat;
}

.svg-ic_invert_colors_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_live_help_24px {
	background: url(svg-sprite-communication.svg) 57.142857142857146% 66.66666666666667% no-repeat;
}

.svg-ic_live_help_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_location_off_24px {
	background: url(svg-sprite-communication.svg) 0 0 no-repeat;
}

.svg-ic_location_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_location_on_24px {
	background: url(svg-sprite-communication.svg) 71.42857142857143% 16.666666666666668% no-repeat;
}

.svg-ic_location_on_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_mail_outline_24px {
	background: url(svg-sprite-communication.svg) 71.42857142857143% 33.333333333333336% no-repeat;
}

.svg-ic_mail_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_message_24px {
	background: url(svg-sprite-communication.svg) 71.42857142857143% 50% no-repeat;
}

.svg-ic_message_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_no_sim_24px {
	background: url(svg-sprite-communication.svg) 71.42857142857143% 66.66666666666667% no-repeat;
}

.svg-ic_no_sim_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phone_24px {
	background: url(svg-sprite-communication.svg) 0 83.33333333333333% no-repeat;
}

.svg-ic_phone_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phonelink_erase_24px {
	background: url(svg-sprite-communication.svg) 14.285714285714286% 83.33333333333333% no-repeat;
}

.svg-ic_phonelink_erase_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phonelink_lock_24px {
	background: url(svg-sprite-communication.svg) 28.571428571428573% 83.33333333333333% no-repeat;
}

.svg-ic_phonelink_lock_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phonelink_ring_24px {
	background: url(svg-sprite-communication.svg) 42.857142857142854% 83.33333333333333% no-repeat;
}

.svg-ic_phonelink_ring_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_phonelink_setup_24px {
	background: url(svg-sprite-communication.svg) 57.142857142857146% 83.33333333333333% no-repeat;
}

.svg-ic_phonelink_setup_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_portable_wifi_off_24px {
	background: url(svg-sprite-communication.svg) 71.42857142857143% 83.33333333333333% no-repeat;
}

.svg-ic_portable_wifi_off_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_present_to_all_24px {
	background: url(svg-sprite-communication.svg) 85.71428571428571% 0 no-repeat;
}

.svg-ic_present_to_all_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_ring_volume_24px {
	background: url(svg-sprite-communication.svg) 85.71428571428571% 16.666666666666668% no-repeat;
}

.svg-ic_ring_volume_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_rss_feed_24px {
	background: url(svg-sprite-communication.svg) 85.71428571428571% 33.333333333333336% no-repeat;
}

.svg-ic_rss_feed_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_screen_share_24px {
	background: url(svg-sprite-communication.svg) 85.71428571428571% 50% no-repeat;
}

.svg-ic_screen_share_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_speaker_phone_24px {
	background: url(svg-sprite-communication.svg) 85.71428571428571% 66.66666666666667% no-repeat;
}

.svg-ic_speaker_phone_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_stay_current_landscape_24px {
	background: url(svg-sprite-communication.svg) 85.71428571428571% 83.33333333333333% no-repeat;
}

.svg-ic_stay_current_landscape_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_stay_current_portrait_24px {
	background: url(svg-sprite-communication.svg) 0 100% no-repeat;
}

.svg-ic_stay_current_portrait_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_stay_primary_landscape_24px {
	background: url(svg-sprite-communication.svg) 14.285714285714286% 100% no-repeat;
}

.svg-ic_stay_primary_landscape_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_stay_primary_portrait_24px {
	background: url(svg-sprite-communication.svg) 28.571428571428573% 100% no-repeat;
}

.svg-ic_stay_primary_portrait_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_stop_screen_share_24px {
	background: url(svg-sprite-communication.svg) 42.857142857142854% 100% no-repeat;
}

.svg-ic_stop_screen_share_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_swap_calls_24px {
	background: url(svg-sprite-communication.svg) 57.142857142857146% 100% no-repeat;
}

.svg-ic_swap_calls_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_textsms_24px {
	background: url(svg-sprite-communication.svg) 71.42857142857143% 100% no-repeat;
}

.svg-ic_textsms_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_voicemail_24px {
	background: url(svg-sprite-communication.svg) 85.71428571428571% 100% no-repeat;
}

.svg-ic_voicemail_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_vpn_key_24px {
	background: url(svg-sprite-communication.svg) 100% 0 no-repeat;
}

.svg-ic_vpn_key_24px-dims {
	width: 24px;
	height: 24px;
}

