.svg-ic_add_alert_24px {
	background: url(svg-sprite-alert.svg) 0 0 no-repeat;
}

.svg-ic_add_alert_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_error_24px {
	background: url(svg-sprite-alert.svg) 100% 0 no-repeat;
}

.svg-ic_error_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_error_outline_24px {
	background: url(svg-sprite-alert.svg) 0 100% no-repeat;
}

.svg-ic_error_outline_24px-dims {
	width: 24px;
	height: 24px;
}

.svg-ic_warning_24px {
	background: url(svg-sprite-alert.svg) 100% 100% no-repeat;
}

.svg-ic_warning_24px-dims {
	width: 24px;
	height: 24px;
}

