@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxOLozCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxOLozCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxOLozCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxOLozCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxOLozCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxOLozCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxOLozCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxOLozCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxOLozCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxOLozCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxMLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxMLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxMLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxMLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxMLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxMLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxMLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxMLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxMLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxMLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxPVojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxPVojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxPVojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxPVojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxPVojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxPVojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxPVojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxPVojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxPVojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxPVojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxOLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxOLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxOLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxOLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxOLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxOLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxOLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxOLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxOLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxOLojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxO5ojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxO5ojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxO5ojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxO5ojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxO5ojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxO5ojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxO5ojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxO5ojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxO5ojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxO5ojCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxNVpTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxNVpTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxNVpTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxNVpTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxNVpTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxNVpTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxNVpTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxNVpTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxNVpTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxNVpTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxNspTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxNspTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxNspTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxNspTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReaU4bHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxNspTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H_OdzEL3sVTgJtfbYxNspTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H5OdzEL3sVTgJtfbYxNspTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H7OdzEL3sVTgJtfbYxNspTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-H0OezEL3sVTgJtfbYxNspTCO.ttf) format('truetype');
}
@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolssharp/v73/gNNBW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_whPnoY9ruReYU3rHmz74m0ZkGH-VBYe1x0TV6x4yFH8F-HxOezEL3sVTgJtfbYxNspTCO.ttf) format('truetype');
}

.material-symbols-sharp {
  font-family: 'Material Symbols Sharp';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
