.icon {
  background-image: url(../images/sprite-alert-white.PNG);
}
.icon-ic_add_alert_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_outline_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_warning_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-alert-black.PNG);
}
.icon-ic_add_alert_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_outline_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_warning_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-toggle-white.PNG);
}
.icon-ic_check_box_outline_blank_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_box_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_indeterminate_check_box_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_checked_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_unchecked_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_border_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_half_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-toggle-black.PNG);
}
.icon-ic_check_box_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_box_outline_blank_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_indeterminate_check_box_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_checked_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_unchecked_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_border_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_half_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-file-black.PNG);
}
.icon-ic_attachment_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_circle_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_done_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_download_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_off_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_queue_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_upload_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_create_new_folder_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_download_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_upload_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_open_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_shared_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-file-white.PNG);
}
.icon-ic_attachment_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_circle_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_done_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_download_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_off_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_queue_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_upload_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_create_new_folder_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_download_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_upload_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_open_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_shared_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-places-white.PNG);
}
.icon-ic_ac_unit_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_airport_shuttle_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_all_inclusive_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_beach_access_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_business_center_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_casino_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_care_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_friendly_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_fitness_center_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_free_breakfast_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_golf_course_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_hot_tub_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_kitchen_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_pool_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_room_service_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_rv_hookup_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoke_free_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoking_rooms_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_spa_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-places-black.PNG);
}
.icon-ic_ac_unit_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_airport_shuttle_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_all_inclusive_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_beach_access_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_business_center_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_casino_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_care_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_friendly_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_fitness_center_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_free_breakfast_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_golf_course_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_hot_tub_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_kitchen_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_pool_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_room_service_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_rv_hookup_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoke_free_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoking_rooms_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_spa_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}