.icon-editor-black {
  background-image: url('sprite-editor-black.png');
}

.icon-editor-black-ic_format_line_spacing_black_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_attach_file_black_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_all_black_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_bottom_black_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_clear_black_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_color_black_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_horizontal_black_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_inner_black_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_left_black_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_outer_black_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_right_black_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_style_black_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_top_black_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_border_vertical_black_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_align_center_black_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_align_justify_black_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_align_left_black_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_align_right_black_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_bold_black_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_clear_black_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_color_fill_black_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_color_reset_black_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_color_text_black_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_indent_decrease_black_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_indent_increase_black_24dp {
  background-position: -141px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_italic_black_24dp {
  background-position: -175px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_attach_money_black_24dp {
  background-position: -175px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_list_bulleted_black_24dp {
  background-position: -175px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_list_numbered_black_24dp {
  background-position: -175px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_paint_black_24dp {
  background-position: -175px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_quote_black_24dp {
  background-position: -5px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_size_black_24dp {
  background-position: -39px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_strikethrough_black_24dp {
  background-position: -73px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_textdirection_l_to_r_black_24dp {
  background-position: -107px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_textdirection_r_to_l_black_24dp {
  background-position: -141px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_format_underline_black_24dp {
  background-position: -175px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_functions_black_24dp {
  background-position: -209px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_insert_chart_black_24dp {
  background-position: -209px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_insert_comment_black_24dp {
  background-position: -209px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_insert_drive_file_black_24dp {
  background-position: -209px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_insert_emoticon_black_24dp {
  background-position: -209px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_insert_invitation_black_24dp {
  background-position: -209px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_insert_link_black_24dp {
  background-position: -5px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_insert_photo_black_24dp {
  background-position: -39px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_merge_type_black_24dp {
  background-position: -73px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_mode_comment_black_24dp {
  background-position: -107px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_mode_edit_black_24dp {
  background-position: -141px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_publish_black_24dp {
  background-position: -175px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_vertical_align_bottom_black_24dp {
  background-position: -209px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_vertical_align_center_black_24dp {
  background-position: -243px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_vertical_align_top_black_24dp {
  background-position: -243px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-black-ic_wrap_text_black_24dp {
  background-position: -243px -73px;
  width: 24px;
  height: 24px;
}

