.icon-action-white {
  background-image: url('sprite-action-white.png');
}

.icon-action-white-ic_perm_identity_white_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_3d_rotation_white_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_account_balance_wallet_white_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_account_balance_white_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_account_box_white_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_account_child_white_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_account_circle_white_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_add_shopping_cart_white_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_alarm_add_white_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_alarm_off_white_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_alarm_on_white_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_alarm_white_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_android_white_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_announcement_white_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_aspect_ratio_white_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_assessment_white_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_assignment_ind_white_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_assignment_late_white_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_assignment_return_white_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_assignment_returned_white_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_assignment_turned_in_white_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_assignment_white_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_autorenew_white_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_backup_white_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_book_white_24dp {
  background-position: -141px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_bookmark_outline_white_24dp {
  background-position: -175px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_bookmark_white_24dp {
  background-position: -175px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_bug_report_white_24dp {
  background-position: -175px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_cached_white_24dp {
  background-position: -175px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_check_circle_white_24dp {
  background-position: -175px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_class_white_24dp {
  background-position: -5px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_credit_card_white_24dp {
  background-position: -39px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_dashboard_white_24dp {
  background-position: -73px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_delete_white_24dp {
  background-position: -107px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_description_white_24dp {
  background-position: -141px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_dns_white_24dp {
  background-position: -175px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_done_all_white_24dp {
  background-position: -209px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_done_white_24dp {
  background-position: -209px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_event_white_24dp {
  background-position: -209px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_exit_to_app_white_24dp {
  background-position: -209px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_explore_white_24dp {
  background-position: -209px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_extension_white_24dp {
  background-position: -209px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_face_white_24dp {
  background-position: -5px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_favorite_outline_white_24dp {
  background-position: -39px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_favorite_white_24dp {
  background-position: -73px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_find_in_page_white_24dp {
  background-position: -107px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_find_replace_white_24dp {
  background-position: -141px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_flip_to_back_white_24dp {
  background-position: -175px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_flip_to_front_white_24dp {
  background-position: -209px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_get_app_white_24dp {
  background-position: -243px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_grade_white_24dp {
  background-position: -243px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_group_work_white_24dp {
  background-position: -243px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_help_white_24dp {
  background-position: -243px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_highlight_remove_white_24dp {
  background-position: -243px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_history_white_24dp {
  background-position: -243px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_home_white_24dp {
  background-position: -243px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_https_white_24dp {
  background-position: -5px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_info_outline_white_24dp {
  background-position: -39px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_info_white_24dp {
  background-position: -73px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_input_white_24dp {
  background-position: -107px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_invert_colors_white_24dp {
  background-position: -141px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_label_outline_white_24dp {
  background-position: -175px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_label_white_24dp {
  background-position: -209px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_language_white_24dp {
  background-position: -243px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_launch_white_24dp {
  background-position: -277px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_list_white_24dp {
  background-position: -277px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_lock_open_white_24dp {
  background-position: -277px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_lock_outline_white_24dp {
  background-position: -277px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_lock_white_24dp {
  background-position: -277px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_loyalty_white_24dp {
  background-position: -277px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_markunread_mailbox_white_24dp {
  background-position: -277px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_note_add_white_24dp {
  background-position: -277px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_open_in_browser_white_24dp {
  background-position: -5px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_open_in_new_white_24dp {
  background-position: -39px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_open_with_white_24dp {
  background-position: -73px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_pageview_white_24dp {
  background-position: -107px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_payment_white_24dp {
  background-position: -141px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_perm_camera_mic_white_24dp {
  background-position: -175px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_perm_contact_cal_white_24dp {
  background-position: -209px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_perm_data_setting_white_24dp {
  background-position: -243px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_perm_device_info_white_24dp {
  background-position: -277px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_accessibility_white_24dp {
  background-position: -311px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_perm_media_white_24dp {
  background-position: -311px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_perm_phone_msg_white_24dp {
  background-position: -311px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_perm_scan_wifi_white_24dp {
  background-position: -311px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_picture_in_picture_white_24dp {
  background-position: -311px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_polymer_white_24dp {
  background-position: -311px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_print_white_24dp {
  background-position: -311px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_query_builder_white_24dp {
  background-position: -311px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_question_answer_white_24dp {
  background-position: -311px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_receipt_white_24dp {
  background-position: -5px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_redeem_white_24dp {
  background-position: -39px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_reorder_white_24dp {
  background-position: -73px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_report_problem_white_24dp {
  background-position: -107px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_restore_white_24dp {
  background-position: -141px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_room_white_24dp {
  background-position: -175px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_schedule_white_24dp {
  background-position: -209px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_search_white_24dp {
  background-position: -243px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_applications_white_24dp {
  background-position: -277px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_backup_restore_white_24dp {
  background-position: -311px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_bluetooth_white_24dp {
  background-position: -345px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_cell_white_24dp {
  background-position: -345px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_display_white_24dp {
  background-position: -345px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_ethernet_white_24dp {
  background-position: -345px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_input_antenna_white_24dp {
  background-position: -345px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_input_component_white_24dp {
  background-position: -345px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_input_composite_white_24dp {
  background-position: -345px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_input_hdmi_white_24dp {
  background-position: -345px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_input_svideo_white_24dp {
  background-position: -345px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_overscan_white_24dp {
  background-position: -345px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_phone_white_24dp {
  background-position: -5px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_power_white_24dp {
  background-position: -39px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_remote_white_24dp {
  background-position: -73px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_voice_white_24dp {
  background-position: -107px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_settings_white_24dp {
  background-position: -141px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_shop_two_white_24dp {
  background-position: -175px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_shop_white_24dp {
  background-position: -209px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_shopping_basket_white_24dp {
  background-position: -243px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_shopping_cart_white_24dp {
  background-position: -277px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_speaker_notes_white_24dp {
  background-position: -311px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_spellcheck_white_24dp {
  background-position: -345px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_star_rate_white_24dp {
  background-position: -379px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_stars_white_24dp {
  background-position: -379px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_store_white_24dp {
  background-position: -379px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_subject_white_24dp {
  background-position: -379px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_supervisor_account_white_24dp {
  background-position: -379px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_swap_horiz_white_24dp {
  background-position: -379px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_swap_vert_circle_white_24dp {
  background-position: -379px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_swap_vert_white_24dp {
  background-position: -379px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_system_update_tv_white_24dp {
  background-position: -379px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_tab_unselected_white_24dp {
  background-position: -379px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_tab_white_24dp {
  background-position: -379px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_theaters_white_24dp {
  background-position: -5px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_thumb_down_white_24dp {
  background-position: -39px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_thumb_up_white_24dp {
  background-position: -73px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_thumbs_up_down_white_24dp {
  background-position: -107px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_toc_white_24dp {
  background-position: -141px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_today_white_24dp {
  background-position: -175px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_track_changes_white_24dp {
  background-position: -209px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_translate_white_24dp {
  background-position: -243px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_trending_down_white_24dp {
  background-position: -277px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_trending_neutral_white_24dp {
  background-position: -311px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_trending_up_white_24dp {
  background-position: -345px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_turned_in_not_white_24dp {
  background-position: -379px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_turned_in_white_24dp {
  background-position: -413px -5px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_verified_user_white_24dp {
  background-position: -413px -39px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_agenda_white_24dp {
  background-position: -413px -73px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_array_white_24dp {
  background-position: -413px -107px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_carousel_white_24dp {
  background-position: -413px -141px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_column_white_24dp {
  background-position: -413px -175px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_day_white_24dp {
  background-position: -413px -209px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_headline_white_24dp {
  background-position: -413px -243px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_list_white_24dp {
  background-position: -413px -277px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_module_white_24dp {
  background-position: -413px -311px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_quilt_white_24dp {
  background-position: -413px -345px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_stream_white_24dp {
  background-position: -413px -379px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_view_week_white_24dp {
  background-position: -5px -413px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_visibility_off_white_24dp {
  background-position: -39px -413px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_visibility_white_24dp {
  background-position: -73px -413px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_wallet_giftcard_white_24dp {
  background-position: -107px -413px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_wallet_membership_white_24dp {
  background-position: -141px -413px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_wallet_travel_white_24dp {
  background-position: -175px -413px;
  width: 24px;
  height: 24px;
}

.icon-action-white-ic_work_white_24dp {
  background-position: -209px -413px;
  width: 24px;
  height: 24px;
}

