.icon {
  background-image: url(../images/sprite-alert-white.PNG);
}
.icon-ic_add_alert_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_outline_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_warning_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-alert-black.PNG);
}
.icon-ic_add_alert_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_error_outline_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_warning_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-toggle-white.PNG);
}
.icon-ic_check_box_outline_blank_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_box_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_indeterminate_check_box_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_checked_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_unchecked_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_border_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_half_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-toggle-black.PNG);
}
.icon-ic_check_box_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_box_outline_blank_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_indeterminate_check_box_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_checked_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_radio_button_unchecked_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_border_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_star_half_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-file-black.PNG);
}
.icon-ic_attachment_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_circle_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_done_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_download_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_off_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_queue_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_upload_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_create_new_folder_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_download_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_upload_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_open_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_shared_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-file-white.PNG);
}
.icon-ic_attachment_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_circle_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_done_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_download_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_off_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_queue_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_upload_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cloud_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_create_new_folder_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_download_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_file_upload_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_open_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_shared_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_folder_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-places-white.PNG);
}
.icon-ic_ac_unit_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_airport_shuttle_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_all_inclusive_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_beach_access_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_business_center_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_casino_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_care_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_friendly_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_fitness_center_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_free_breakfast_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_golf_course_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_hot_tub_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_kitchen_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_pool_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_room_service_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_rv_hookup_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoke_free_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoking_rooms_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_spa_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-places-black.PNG);
}
.icon-ic_ac_unit_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_airport_shuttle_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_all_inclusive_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_beach_access_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_business_center_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_casino_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_care_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_child_friendly_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_fitness_center_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_free_breakfast_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_golf_course_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_hot_tub_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_kitchen_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_pool_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_room_service_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_rv_hookup_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoke_free_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_smoking_rooms_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_spa_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-navigation-black.PNG);
}
.icon-ic_apps_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_back_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_downward_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_down_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_down_circle_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_up_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_forward_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_upward_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cancel_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_chevron_left_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_chevron_right_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_close_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_expand_less_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_expand_more_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_first_page_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_fullscreen_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_fullscreen_exit_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_last_page_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_menu_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_horiz_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_vert_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_refresh_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_subdirectory_arrow_left_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_subdirectory_arrow_right_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_unfold_less_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_unfold_more_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-navigation-white.PNG);
}
.icon-ic_apps_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_back_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_downward_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_down_circle_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_down_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_drop_up_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_forward_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_arrow_upward_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_cancel_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_check_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_chevron_left_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_chevron_right_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_close_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_expand_less_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_expand_more_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_first_page_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_fullscreen_exit_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_fullscreen_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_last_page_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_menu_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_horiz_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_more_vert_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_refresh_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_subdirectory_arrow_left_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_subdirectory_arrow_right_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_unfold_less_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_unfold_more_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-social-black.PNG);
}
.icon-ic_cake_black_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_domain_black_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_group_add_black_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_group_black_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_location_city_black_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_mood_bad_black_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_mood_black_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_active_black_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_black_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_none_black_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_off_black_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_paused_black_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_pages_black_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_party_mode_black_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_people_black_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_people_outline_black_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_add_black_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_black_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_outline_black_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_plus_one_black_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_poll_black_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_public_black_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_school_black_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_dissatisfied_black_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_neutral_black_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_satisfied_black_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_very_dissatisfied_black_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_very_satisfied_black_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_share_black_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_whatshot_black_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}
.icon {
  background-image: url(../images/sprite-social-white.PNG);
}
.icon-ic_cake_white_24dp {
  background-position: -32px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_domain_white_24dp {
  background-position: -96px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_group_add_white_24dp {
  background-position: -0px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_group_white_24dp {
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_location_city_white_24dp {
  background-position: -64px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_mood_bad_white_24dp {
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_mood_white_24dp {
  background-position: -0px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_active_white_24dp {
  background-position: -32px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_none_white_24dp {
  background-position: -64px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_off_white_24dp {
  background-position: -96px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_paused_white_24dp {
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_notifications_white_24dp {
  background-position: -96px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_pages_white_24dp {
  background-position: -0px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_party_mode_white_24dp {
  background-position: -32px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_people_outline_white_24dp {
  background-position: -64px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_people_white_24dp {
  background-position: -0px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_add_white_24dp {
  background-position: -128px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_outline_white_24dp {
  background-position: -128px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_person_white_24dp {
  background-position: -128px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_plus_one_white_24dp {
  background-position: -128px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_poll_white_24dp {
  background-position: -0px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_public_white_24dp {
  background-position: -32px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_school_white_24dp {
  background-position: -64px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_dissatisfied_white_24dp {
  background-position: -96px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_neutral_white_24dp {
  background-position: -128px -128px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_satisfied_white_24dp {
  background-position: -160px -0px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_very_dissatisfied_white_24dp {
  background-position: -160px -32px;
  width: 32px;
  height: 32px;
}
.icon-ic_sentiment_very_satisfied_white_24dp {
  background-position: -160px -64px;
  width: 32px;
  height: 32px;
}
.icon-ic_share_white_24dp {
  background-position: -160px -96px;
  width: 32px;
  height: 32px;
}
.icon-ic_whatshot_white_24dp {
  background-position: -160px -128px;
  width: 32px;
  height: 32px;
}