.icon-file-grey600 {
  background-image: url('sprite-file-grey600.png');
}

.icon-file-grey600-ic_cloud_queue_grey600_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_attachment_grey600_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_cloud_done_grey600_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_cloud_download_grey600_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_cloud_grey600_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_cloud_off_grey600_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_cloud_circle_grey600_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_cloud_upload_grey600_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_file_download_grey600_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_file_upload_grey600_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_folder_grey600_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_folder_open_grey600_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-grey600-ic_folder_shared_grey600_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

