.icon-file-black {
  background-image: url('sprite-file-black.png');
}

.icon-file-black-ic_cloud_queue_black_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_attachment_black_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_cloud_circle_black_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_cloud_done_black_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_cloud_download_black_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_cloud_off_black_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_cloud_black_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_cloud_upload_black_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_file_download_black_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_file_upload_black_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_folder_black_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_folder_open_black_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-black-ic_folder_shared_black_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

