.icon {
  background-image: url('sprite-alert-black.png');
}

.icon-ic_error_black_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-ic_warning_black_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

