.icon-social-black {
  background-image: url('sprite-social-black.png');
}

.icon-social-black-ic_party_mode_black_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_cake_black_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_group_add_black_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_group_black_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_location_city_black_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_mood_black_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_notifications_black_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_notifications_none_black_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_notifications_off_black_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_notifications_on_black_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_notifications_paused_black_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_pages_black_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_domain_black_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_people_black_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_people_outline_black_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_person_add_black_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_person_black_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_person_outline_black_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_plus_one_black_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_poll_black_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_public_black_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_school_black_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_share_black_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-social-black-ic_whatshot_black_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

