.icon-alert-white {
  background-image: url('sprite-alert-white.png');
}

.icon-alert-white-ic_error_white_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-alert-white-ic_warning_white_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

