.icon-notification-black {
  background-image: url('sprite-notification-black.png');
}

.icon-notification-black-ic_phone_missed_black_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_adb_black_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_disc_full_black_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_dnd_forwardslash_black_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_do_not_disturb_black_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_drive_eta_black_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_event_available_black_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_event_busy_black_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_event_note_black_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_folder_special_black_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_mms_black_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_more_black_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_network_locked_black_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_phone_bluetooth_speaker_black_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_phone_forwarded_black_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_phone_in_talk_black_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_phone_locked_black_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_bluetooth_audio_black_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_phone_paused_black_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_play_download_black_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_play_install_black_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_sd_card_black_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_sim_card_alert_black_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_sms_black_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_sms_failed_black_24dp {
  background-position: -141px -141px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_sync_black_24dp {
  background-position: -175px -5px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_sync_disabled_black_24dp {
  background-position: -175px -39px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_sync_problem_black_24dp {
  background-position: -175px -73px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_system_update_black_24dp {
  background-position: -175px -107px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_tap_and_play_black_24dp {
  background-position: -175px -141px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_time_to_leave_black_24dp {
  background-position: -5px -175px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_vibration_black_24dp {
  background-position: -39px -175px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_voice_chat_black_24dp {
  background-position: -73px -175px;
  width: 24px;
  height: 24px;
}

.icon-notification-black-ic_vpn_lock_black_24dp {
  background-position: -107px -175px;
  width: 24px;
  height: 24px;
}

