.icon-file-white {
  background-image: url('sprite-file-white.png');
}

.icon-file-white-ic_cloud_upload_white_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_attachment_white_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_cloud_done_white_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_cloud_download_white_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_cloud_off_white_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_cloud_queue_white_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_cloud_circle_white_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_cloud_white_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_file_download_white_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_file_upload_white_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_folder_open_white_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_folder_shared_white_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-file-white-ic_folder_white_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

