.icon-image-grey600 {
  background-image: url('sprite-image-grey600.png');
}

.icon-image-grey600-ic_flare_grey600_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_add_to_photos_grey600_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_assistant_photo_grey600_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_audiotrack_grey600_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_blur_circular_grey600_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_blur_linear_grey600_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_blur_off_grey600_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_blur_on_grey600_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_brightness_1_grey600_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_brightness_2_grey600_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_brightness_3_grey600_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_brightness_4_grey600_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_brightness_5_grey600_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_brightness_6_grey600_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_brightness_7_grey600_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_brush_grey600_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_camera_alt_grey600_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_camera_front_grey600_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_camera_grey600_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_camera_rear_grey600_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_camera_roll_grey600_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_center_focus_strong_grey600_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_center_focus_weak_grey600_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_collections_grey600_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_color_lens_grey600_24dp {
  background-position: -141px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_colorize_grey600_24dp {
  background-position: -175px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_compare_grey600_24dp {
  background-position: -175px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_control_point_duplicate_grey600_24dp {
  background-position: -175px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_control_point_grey600_24dp {
  background-position: -175px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_16_9_grey600_24dp {
  background-position: -175px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_3_2_grey600_24dp {
  background-position: -5px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_5_4_grey600_24dp {
  background-position: -39px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_7_5_grey600_24dp {
  background-position: -73px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_din_grey600_24dp {
  background-position: -107px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_free_grey600_24dp {
  background-position: -141px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_grey600_24dp {
  background-position: -175px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_landscape_grey600_24dp {
  background-position: -209px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_original_grey600_24dp {
  background-position: -209px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_portrait_grey600_24dp {
  background-position: -209px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_crop_square_grey600_24dp {
  background-position: -209px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_dehaze_grey600_24dp {
  background-position: -209px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_details_grey600_24dp {
  background-position: -209px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_edit_grey600_24dp {
  background-position: -5px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_exposure_grey600_24dp {
  background-position: -39px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_exposure_minus_1_grey600_24dp {
  background-position: -73px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_exposure_minus_2_grey600_24dp {
  background-position: -107px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_exposure_plus_1_grey600_24dp {
  background-position: -141px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_exposure_plus_2_grey600_24dp {
  background-position: -175px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_exposure_zero_grey600_24dp {
  background-position: -209px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_1_grey600_24dp {
  background-position: -243px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_2_grey600_24dp {
  background-position: -243px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_3_grey600_24dp {
  background-position: -243px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_4_grey600_24dp {
  background-position: -243px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_5_grey600_24dp {
  background-position: -243px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_6_grey600_24dp {
  background-position: -243px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_7_grey600_24dp {
  background-position: -243px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_8_grey600_24dp {
  background-position: -5px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_9_grey600_24dp {
  background-position: -39px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_9_plus_grey600_24dp {
  background-position: -73px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_b_and_w_grey600_24dp {
  background-position: -107px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_center_focus_grey600_24dp {
  background-position: -141px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_drama_grey600_24dp {
  background-position: -175px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_frames_grey600_24dp {
  background-position: -209px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_grey600_24dp {
  background-position: -243px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_hdr_grey600_24dp {
  background-position: -277px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_none_grey600_24dp {
  background-position: -277px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_tilt_shift_grey600_24dp {
  background-position: -277px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_filter_vintage_grey600_24dp {
  background-position: -277px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_adjust_grey600_24dp {
  background-position: -277px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_flash_auto_grey600_24dp {
  background-position: -277px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_flash_off_grey600_24dp {
  background-position: -277px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_flash_on_grey600_24dp {
  background-position: -277px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_flip_grey600_24dp {
  background-position: -5px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_gradient_grey600_24dp {
  background-position: -39px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_grain_grey600_24dp {
  background-position: -73px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_grid_off_grey600_24dp {
  background-position: -107px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_grid_on_grey600_24dp {
  background-position: -141px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_hdr_off_grey600_24dp {
  background-position: -175px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_hdr_on_grey600_24dp {
  background-position: -209px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_hdr_strong_grey600_24dp {
  background-position: -243px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_hdr_weak_grey600_24dp {
  background-position: -277px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_healing_grey600_24dp {
  background-position: -311px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_image_aspect_ratio_grey600_24dp {
  background-position: -311px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_image_grey600_24dp {
  background-position: -311px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_iso_grey600_24dp {
  background-position: -311px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_landscape_grey600_24dp {
  background-position: -311px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_leak_add_grey600_24dp {
  background-position: -311px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_leak_remove_grey600_24dp {
  background-position: -311px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_looks_3_grey600_24dp {
  background-position: -311px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_looks_4_grey600_24dp {
  background-position: -311px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_looks_5_grey600_24dp {
  background-position: -5px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_looks_6_grey600_24dp {
  background-position: -39px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_looks_grey600_24dp {
  background-position: -73px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_looks_one_grey600_24dp {
  background-position: -107px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_looks_two_grey600_24dp {
  background-position: -141px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_loupe_grey600_24dp {
  background-position: -175px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_movie_creation_grey600_24dp {
  background-position: -209px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_nature_grey600_24dp {
  background-position: -243px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_nature_people_grey600_24dp {
  background-position: -277px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_navigate_before_grey600_24dp {
  background-position: -311px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_navigate_next_grey600_24dp {
  background-position: -345px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_palette_grey600_24dp {
  background-position: -345px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_panorama_fisheye_grey600_24dp {
  background-position: -345px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_panorama_grey600_24dp {
  background-position: -345px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_panorama_horizontal_grey600_24dp {
  background-position: -345px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_panorama_vertical_grey600_24dp {
  background-position: -345px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_panorama_wide_angle_grey600_24dp {
  background-position: -345px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_photo_album_grey600_24dp {
  background-position: -345px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_photo_camera_grey600_24dp {
  background-position: -345px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_photo_grey600_24dp {
  background-position: -345px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_photo_library_grey600_24dp {
  background-position: -5px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_portrait_grey600_24dp {
  background-position: -39px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_remove_red_eye_grey600_24dp {
  background-position: -73px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_rotate_left_grey600_24dp {
  background-position: -107px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_rotate_right_grey600_24dp {
  background-position: -141px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_slideshow_grey600_24dp {
  background-position: -175px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_straighten_grey600_24dp {
  background-position: -209px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_style_grey600_24dp {
  background-position: -243px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_switch_camera_grey600_24dp {
  background-position: -277px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_switch_video_grey600_24dp {
  background-position: -311px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_tag_faces_grey600_24dp {
  background-position: -345px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_texture_grey600_24dp {
  background-position: -379px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_timelapse_grey600_24dp {
  background-position: -379px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_timer_10_grey600_24dp {
  background-position: -379px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_timer_3_grey600_24dp {
  background-position: -379px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_timer_auto_grey600_24dp {
  background-position: -379px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_timer_grey600_24dp {
  background-position: -379px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_timer_off_grey600_24dp {
  background-position: -379px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_tonality_grey600_24dp {
  background-position: -379px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_transform_grey600_24dp {
  background-position: -379px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_tune_grey600_24dp {
  background-position: -379px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_wb_auto_grey600_24dp {
  background-position: -379px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_wb_cloudy_grey600_24dp {
  background-position: -5px -379px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_wb_incandescent_grey600_24dp {
  background-position: -39px -379px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_wb_irradescent_grey600_24dp {
  background-position: -73px -379px;
  width: 24px;
  height: 24px;
}

.icon-image-grey600-ic_wb_sunny_grey600_24dp {
  background-position: -107px -379px;
  width: 24px;
  height: 24px;
}

