.icon-image-black {
  background-image: url('sprite-image-black.png');
}

.icon-image-black-ic_flare_black_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_add_to_photos_black_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_assistant_photo_black_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_audiotrack_black_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_blur_circular_black_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_blur_linear_black_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_blur_off_black_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_blur_on_black_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_brightness_1_black_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_brightness_2_black_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_brightness_3_black_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_brightness_4_black_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_brightness_5_black_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_brightness_6_black_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_brightness_7_black_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_brush_black_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_camera_alt_black_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_camera_black_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_camera_front_black_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_camera_rear_black_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_camera_roll_black_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_center_focus_strong_black_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_center_focus_weak_black_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_collections_black_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_color_lens_black_24dp {
  background-position: -141px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_colorize_black_24dp {
  background-position: -175px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_compare_black_24dp {
  background-position: -175px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_control_point_black_24dp {
  background-position: -175px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_control_point_duplicate_black_24dp {
  background-position: -175px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_16_9_black_24dp {
  background-position: -175px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_3_2_black_24dp {
  background-position: -5px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_5_4_black_24dp {
  background-position: -39px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_7_5_black_24dp {
  background-position: -73px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_black_24dp {
  background-position: -107px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_din_black_24dp {
  background-position: -141px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_free_black_24dp {
  background-position: -175px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_landscape_black_24dp {
  background-position: -209px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_original_black_24dp {
  background-position: -209px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_portrait_black_24dp {
  background-position: -209px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_crop_square_black_24dp {
  background-position: -209px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_dehaze_black_24dp {
  background-position: -209px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_details_black_24dp {
  background-position: -209px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_edit_black_24dp {
  background-position: -5px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_exposure_black_24dp {
  background-position: -39px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_exposure_minus_1_black_24dp {
  background-position: -73px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_exposure_minus_2_black_24dp {
  background-position: -107px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_exposure_plus_1_black_24dp {
  background-position: -141px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_exposure_plus_2_black_24dp {
  background-position: -175px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_exposure_zero_black_24dp {
  background-position: -209px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_1_black_24dp {
  background-position: -243px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_2_black_24dp {
  background-position: -243px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_3_black_24dp {
  background-position: -243px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_4_black_24dp {
  background-position: -243px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_5_black_24dp {
  background-position: -243px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_6_black_24dp {
  background-position: -243px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_7_black_24dp {
  background-position: -243px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_8_black_24dp {
  background-position: -5px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_9_black_24dp {
  background-position: -39px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_9_plus_black_24dp {
  background-position: -73px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_b_and_w_black_24dp {
  background-position: -107px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_black_24dp {
  background-position: -141px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_center_focus_black_24dp {
  background-position: -175px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_drama_black_24dp {
  background-position: -209px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_frames_black_24dp {
  background-position: -243px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_hdr_black_24dp {
  background-position: -277px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_none_black_24dp {
  background-position: -277px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_tilt_shift_black_24dp {
  background-position: -277px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_filter_vintage_black_24dp {
  background-position: -277px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_adjust_black_24dp {
  background-position: -277px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_flash_auto_black_24dp {
  background-position: -277px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_flash_off_black_24dp {
  background-position: -277px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_flash_on_black_24dp {
  background-position: -277px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_flip_black_24dp {
  background-position: -5px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_gradient_black_24dp {
  background-position: -39px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_grain_black_24dp {
  background-position: -73px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_grid_off_black_24dp {
  background-position: -107px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_grid_on_black_24dp {
  background-position: -141px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_hdr_off_black_24dp {
  background-position: -175px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_hdr_on_black_24dp {
  background-position: -209px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_hdr_strong_black_24dp {
  background-position: -243px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_hdr_weak_black_24dp {
  background-position: -277px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_healing_black_24dp {
  background-position: -311px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_image_aspect_ratio_black_24dp {
  background-position: -311px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_image_black_24dp {
  background-position: -311px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_iso_black_24dp {
  background-position: -311px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_landscape_black_24dp {
  background-position: -311px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_leak_add_black_24dp {
  background-position: -311px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_leak_remove_black_24dp {
  background-position: -311px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_looks_3_black_24dp {
  background-position: -311px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_looks_4_black_24dp {
  background-position: -311px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_looks_5_black_24dp {
  background-position: -5px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_looks_6_black_24dp {
  background-position: -39px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_looks_black_24dp {
  background-position: -73px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_looks_one_black_24dp {
  background-position: -107px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_looks_two_black_24dp {
  background-position: -141px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_loupe_black_24dp {
  background-position: -175px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_movie_creation_black_24dp {
  background-position: -209px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_nature_black_24dp {
  background-position: -243px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_nature_people_black_24dp {
  background-position: -277px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_navigate_before_black_24dp {
  background-position: -311px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_navigate_next_black_24dp {
  background-position: -345px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_palette_black_24dp {
  background-position: -345px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_panorama_black_24dp {
  background-position: -345px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_panorama_fisheye_black_24dp {
  background-position: -345px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_panorama_horizontal_black_24dp {
  background-position: -345px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_panorama_vertical_black_24dp {
  background-position: -345px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_panorama_wide_angle_black_24dp {
  background-position: -345px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_photo_album_black_24dp {
  background-position: -345px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_photo_black_24dp {
  background-position: -345px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_photo_camera_black_24dp {
  background-position: -345px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_photo_library_black_24dp {
  background-position: -5px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_portrait_black_24dp {
  background-position: -39px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_remove_red_eye_black_24dp {
  background-position: -73px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_rotate_left_black_24dp {
  background-position: -107px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_rotate_right_black_24dp {
  background-position: -141px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_slideshow_black_24dp {
  background-position: -175px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_straighten_black_24dp {
  background-position: -209px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_style_black_24dp {
  background-position: -243px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_switch_camera_black_24dp {
  background-position: -277px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_switch_video_black_24dp {
  background-position: -311px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_tag_faces_black_24dp {
  background-position: -345px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_texture_black_24dp {
  background-position: -379px -5px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_timelapse_black_24dp {
  background-position: -379px -39px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_timer_10_black_24dp {
  background-position: -379px -73px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_timer_3_black_24dp {
  background-position: -379px -107px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_timer_auto_black_24dp {
  background-position: -379px -141px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_timer_black_24dp {
  background-position: -379px -175px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_timer_off_black_24dp {
  background-position: -379px -209px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_tonality_black_24dp {
  background-position: -379px -243px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_transform_black_24dp {
  background-position: -379px -277px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_tune_black_24dp {
  background-position: -379px -311px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_wb_auto_black_24dp {
  background-position: -379px -345px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_wb_cloudy_black_24dp {
  background-position: -5px -379px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_wb_incandescent_black_24dp {
  background-position: -39px -379px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_wb_irradescent_black_24dp {
  background-position: -73px -379px;
  width: 24px;
  height: 24px;
}

.icon-image-black-ic_wb_sunny_black_24dp {
  background-position: -107px -379px;
  width: 24px;
  height: 24px;
}

