.icon-social-white {
  background-image: url('sprite-social-white.png');
}

.icon-social-white-ic_party_mode_white_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_cake_white_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_group_add_white_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_group_white_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_location_city_white_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_mood_white_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_notifications_none_white_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_notifications_off_white_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_notifications_on_white_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_notifications_paused_white_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_notifications_white_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_pages_white_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_domain_white_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_people_outline_white_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_people_white_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_person_add_white_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_person_outline_white_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_person_white_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_plus_one_white_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_poll_white_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_public_white_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_school_white_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_share_white_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-social-white-ic_whatshot_white_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

