.icon-av-grey600 {
  background-image: url('sprite-av-grey600.png');
}

.icon-av-grey600-ic_play_circle_outline_grey600_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_album_grey600_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_closed_caption_grey600_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_equalizer_grey600_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_explicit_grey600_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_fast_forward_grey600_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_fast_rewind_grey600_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_games_grey600_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_hearing_grey600_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_high_quality_grey600_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_loop_grey600_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_mic_grey600_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_mic_none_grey600_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_mic_off_grey600_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_movie_grey600_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_my_library_add_grey600_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_my_library_books_grey600_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_my_library_music_grey600_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_new_releases_grey600_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_not_interested_grey600_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_pause_circle_fill_grey600_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_pause_circle_outline_grey600_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_pause_grey600_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_play_arrow_grey600_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_play_circle_fill_grey600_24dp {
  background-position: -141px -141px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_av_timer_grey600_24dp {
  background-position: -175px -5px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_play_shopping_bag_grey600_24dp {
  background-position: -175px -39px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_playlist_add_grey600_24dp {
  background-position: -175px -73px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_queue_grey600_24dp {
  background-position: -175px -107px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_queue_music_grey600_24dp {
  background-position: -175px -141px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_radio_grey600_24dp {
  background-position: -5px -175px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_recent_actors_grey600_24dp {
  background-position: -39px -175px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_repeat_grey600_24dp {
  background-position: -73px -175px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_repeat_one_grey600_24dp {
  background-position: -107px -175px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_replay_grey600_24dp {
  background-position: -141px -175px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_shuffle_grey600_24dp {
  background-position: -175px -175px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_skip_next_grey600_24dp {
  background-position: -209px -5px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_skip_previous_grey600_24dp {
  background-position: -209px -39px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_snooze_grey600_24dp {
  background-position: -209px -73px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_stop_grey600_24dp {
  background-position: -209px -107px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_subtitles_grey600_24dp {
  background-position: -209px -141px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_surround_sound_grey600_24dp {
  background-position: -209px -175px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_video_collection_grey600_24dp {
  background-position: -5px -209px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_videocam_grey600_24dp {
  background-position: -39px -209px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_videocam_off_grey600_24dp {
  background-position: -73px -209px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_volume_down_grey600_24dp {
  background-position: -107px -209px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_volume_mute_grey600_24dp {
  background-position: -141px -209px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_volume_off_grey600_24dp {
  background-position: -175px -209px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_volume_up_grey600_24dp {
  background-position: -209px -209px;
  width: 24px;
  height: 24px;
}

.icon-av-grey600-ic_web_grey600_24dp {
  background-position: -243px -5px;
  width: 24px;
  height: 24px;
}

