.icon-navigation-white {
  background-image: url('sprite-navigation-white.png');
}

.icon-navigation-white-ic_close_white_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_apps_white_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_arrow_drop_down_circle_white_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_arrow_drop_down_white_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_arrow_drop_up_white_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_arrow_forward_white_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_cancel_white_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_check_white_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_chevron_left_white_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_chevron_right_white_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_arrow_back_white_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_expand_less_white_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_expand_more_white_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_fullscreen_exit_white_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_fullscreen_white_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_menu_white_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_more_horiz_white_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_more_vert_white_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_refresh_white_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_unfold_less_white_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-navigation-white-ic_unfold_more_white_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

