.icon-toggle-black {
  background-image: url('sprite-toggle-black.png');
}

.icon-toggle-black-ic_check_box_black_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-toggle-black-ic_check_box_outline_blank_black_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-toggle-black-ic_radio_button_off_black_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-toggle-black-ic_radio_button_on_black_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-toggle-black-ic_star_black_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-toggle-black-ic_star_half_black_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-toggle-black-ic_star_outline_black_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

