.icon-editor-white {
  background-image: url('sprite-editor-white.png');
}

.icon-editor-white-ic_format_line_spacing_white_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_attach_file_white_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_all_white_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_bottom_white_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_clear_white_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_color_white_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_horizontal_white_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_inner_white_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_left_white_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_outer_white_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_right_white_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_style_white_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_top_white_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_border_vertical_white_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_align_center_white_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_align_justify_white_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_align_left_white_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_align_right_white_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_bold_white_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_clear_white_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_color_fill_white_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_color_reset_white_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_color_text_white_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_indent_decrease_white_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_indent_increase_white_24dp {
  background-position: -141px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_italic_white_24dp {
  background-position: -175px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_attach_money_white_24dp {
  background-position: -175px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_list_bulleted_white_24dp {
  background-position: -175px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_list_numbered_white_24dp {
  background-position: -175px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_paint_white_24dp {
  background-position: -175px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_quote_white_24dp {
  background-position: -5px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_size_white_24dp {
  background-position: -39px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_strikethrough_white_24dp {
  background-position: -73px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_textdirection_l_to_r_white_24dp {
  background-position: -107px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_textdirection_r_to_l_white_24dp {
  background-position: -141px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_format_underline_white_24dp {
  background-position: -175px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_functions_white_24dp {
  background-position: -209px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_insert_chart_white_24dp {
  background-position: -209px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_insert_comment_white_24dp {
  background-position: -209px -73px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_insert_drive_file_white_24dp {
  background-position: -209px -107px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_insert_emoticon_white_24dp {
  background-position: -209px -141px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_insert_invitation_white_24dp {
  background-position: -209px -175px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_insert_link_white_24dp {
  background-position: -5px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_insert_photo_white_24dp {
  background-position: -39px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_merge_type_white_24dp {
  background-position: -73px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_mode_comment_white_24dp {
  background-position: -107px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_mode_edit_white_24dp {
  background-position: -141px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_publish_white_24dp {
  background-position: -175px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_vertical_align_bottom_white_24dp {
  background-position: -209px -209px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_vertical_align_center_white_24dp {
  background-position: -243px -5px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_vertical_align_top_white_24dp {
  background-position: -243px -39px;
  width: 24px;
  height: 24px;
}

.icon-editor-white-ic_wrap_text_white_24dp {
  background-position: -243px -73px;
  width: 24px;
  height: 24px;
}

