.icon-content-white {
  background-image: url('sprite-content-white.png');
}

.icon-content-white-ic_inbox_white_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_add_box_white_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_add_circle_white_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_add_white_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_archive_white_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_backspace_white_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_block_white_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_clear_white_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_content_copy_white_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_content_cut_white_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_content_paste_white_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_create_white_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_drafts_white_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_filter_list_white_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_flag_white_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_forward_white_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_gesture_white_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_add_circle_outline_white_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_link_white_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_mail_white_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_markunread_white_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_redo_white_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_remove_circle_outline_white_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_remove_circle_white_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_remove_white_24dp {
  background-position: -141px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_reply_all_white_24dp {
  background-position: -175px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_reply_white_24dp {
  background-position: -175px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_report_white_24dp {
  background-position: -175px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_save_white_24dp {
  background-position: -175px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_select_all_white_24dp {
  background-position: -175px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_send_white_24dp {
  background-position: -5px -175px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_sort_white_24dp {
  background-position: -39px -175px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_text_format_white_24dp {
  background-position: -73px -175px;
  width: 24px;
  height: 24px;
}

.icon-content-white-ic_undo_white_24dp {
  background-position: -107px -175px;
  width: 24px;
  height: 24px;
}

