.icon-content-black {
  background-image: url('sprite-content-black.png');
}

.icon-content-black-ic_inbox_black_24dp {
  background-position: -5px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_add_black_24dp {
  background-position: -39px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_add_circle_black_24dp {
  background-position: -5px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_add_circle_outline_black_24dp {
  background-position: -39px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_archive_black_24dp {
  background-position: -73px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_backspace_black_24dp {
  background-position: -73px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_block_black_24dp {
  background-position: -5px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_clear_black_24dp {
  background-position: -39px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_content_copy_black_24dp {
  background-position: -73px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_content_cut_black_24dp {
  background-position: -107px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_content_paste_black_24dp {
  background-position: -107px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_create_black_24dp {
  background-position: -107px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_drafts_black_24dp {
  background-position: -5px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_filter_list_black_24dp {
  background-position: -39px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_flag_black_24dp {
  background-position: -73px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_forward_black_24dp {
  background-position: -107px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_gesture_black_24dp {
  background-position: -141px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_add_box_black_24dp {
  background-position: -141px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_link_black_24dp {
  background-position: -141px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_mail_black_24dp {
  background-position: -141px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_markunread_black_24dp {
  background-position: -5px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_redo_black_24dp {
  background-position: -39px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_remove_black_24dp {
  background-position: -73px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_remove_circle_black_24dp {
  background-position: -107px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_remove_circle_outline_black_24dp {
  background-position: -141px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_reply_all_black_24dp {
  background-position: -175px -5px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_reply_black_24dp {
  background-position: -175px -39px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_report_black_24dp {
  background-position: -175px -73px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_save_black_24dp {
  background-position: -175px -107px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_select_all_black_24dp {
  background-position: -175px -141px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_send_black_24dp {
  background-position: -5px -175px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_sort_black_24dp {
  background-position: -39px -175px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_text_format_black_24dp {
  background-position: -73px -175px;
  width: 24px;
  height: 24px;
}

.icon-content-black-ic_undo_black_24dp {
  background-position: -107px -175px;
  width: 24px;
  height: 24px;
}

